[2016-06-24 16:30] emtii opened #10 "docs outdated"
Documentation for Shopware: http://www.payone.de/uploads/media/PAYONE_Dokumentation_Shopware-Payment-Plugin_01.pdf

404

BR
emtii

[2016-06-27 05:24] #10 closed

[2016-06-27 10:36] emtii opened #12 "sw:plugin:update creates php warning"
installed the plugin and used sw:plugin:update from sw console --shell, got:

PHP Warning:  Declaration of Shopware\CustomModels\MoptPayoneConfig\MoptPayoneConfig::fromArray($array = Array) should be compatible with Shopware\Components\Model\ModelEntity::fromArray(array $array = Array) in /var/www/admin.dev.b2c/htdocs/engine/Shopware/Plugins/Community/Frontend/MoptPaymentPayone/Models/MoptPayoneCo

[2016-06-27 10:37] emtii opened #13 "uninstall routine causes issues"
uninstall plugin and try to reinstall, this causes

Unable to install, got exception: An exception occurred while executing 'INSERT INTO s_core_menu (name, onclick, style, class, position, active, pluginID, controller, action, shortcut, parent) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)' with params ["PAYONE Kontrollzentrum", "Shopware.ModuleManager.createSimplifiedModule(\"FcPayone\", { \"title\":

[2016-06-27 10:47] emtii opened #14 "installing and activating the plugin causes fatal error"
installed the plugin, tried to activate it, caused:

Fatal error: Uncaught TypeError: Argument 1 passed to Shopware\Plugins\MoptPaymentPayone\Subscribers\AddressCheck::__construct() must be an instance of Shopware\Plugins\MoptPaymentPayone\Subscribers\Container, instance of ShopwareProductionProjectContainer given, called in /var/www/XX.XX.XX/htdocs/engine/Shopware/Plugins/Community/Frontend/MoptP

[2016-06-27 10:56] fjbender commented on #14
Should already be fixed, cf: https://github.com/PAYONE-GmbH/shopware-5/blob/master/Frontend/MoptPaymentPayone/Subscribers/AddressCheck.php#L23

@Fatchip-Support can you verify?

[2016-06-27 11:00] fjbender commented on #14
It's fixed in the source tree, but not in the package. Please build a new package.

[2016-06-27 11:10] fjbender commented on #12
Already fixed with #3 but not in the package.

[2016-06-27 12:52] Fatchip-Support commented on #12
The warning is  fixed with new [commit ](https://github.com/PAYONE-GmbH/shopware-5/commit/58ff3e7e43cd9064522410b939e4af20cb11a819)

[2016-06-27 12:54] emtii opened #15 "*.zip build is not equal to master source"
summary says

[2016-06-27 12:55] Fatchip-Support commented on #14
Verified, new Package is coming

[2016-06-27 13:24] Fatchip-Support commented on #14
should be fixed with Zip Package
FatchipPayoneConnector_v3.3.8_5657_shopware5_source.zip

[2016-06-27 13:25] Fatchip-Support commented on #13
should be fixed with Zip Package
FatchipPayoneConnector_v3.3.8_5657_shopware5_source.zip

[2016-06-27 13:25] Fatchip-Support commented on #15
updatred Zip Package to new version:
FatchipPayoneConnector_v3.3.8_5657_shopware5_source.zip

[2016-06-27 13:26] Fatchip-Support commented on #12
should be fixed with Zip Package
FatchipPayoneConnector_v3.3.8_5657_shopware5_source.zip

[2016-06-27 13:30] fjbender opened #16 "Undefined Variables"
We have the following undefined variables in the code:

* shopware/engine/Shopware/Plugins/Default/Frontend/MoptPaymentPayone/Controllers/Backend/FcPayone.php ll. 128-129 $data, $params
* shopware/engine/Shopware/Plugins/Default/Frontend/MoptPaymentPayone/Components/Classes/PayoneHelper.php l. 174 $userId
* shopware/engine/Shopware/Plugins/Default/Frontend/MoptPaymentPayone/Components/Classes/Payo

[2016-06-27 13:43] emtii opened #17 "plugin tags missing"
Could you please introduce tags into this repo and mark them as stable for customers? Actually I just use master and "hope" but do not really know which version this is and which bugs it fixed.

Really would love to see versions / tags in this industry product. thx!

[2016-06-28 06:15] fjbender commented on #15
ACK. In the long run we'll need a new build process automatically taking care of this.

[2016-06-28 06:15] #15 closed

[2016-06-28 06:15] #14 closed

[2016-06-28 06:15] #12 closed

[2016-06-28 06:16] #13 closed

[2016-06-28 13:35] emtii opened #18 "uninstall() does not clean enough"
Uninstalling the plugin does not remove all created entries from s_core_menu so it causes duplicate entries issues when trying to reinstall the plugin one more time.

[2016-06-28 14:12] fjbender commented on #18
Apparently not fixed with #13

[2016-06-28 14:31] emtii opened #19 "straight from the error log..."
[Tue Jun 28 15:57:38.284902 2016] [:error] [pid 6433] [client 10.6.219.2:44823] PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Payone_Protocol_Logger_Log4php::setConfig() must be of the type array, null given, called in /var/www/XX.XX.XX.XXX.XX/htdocs/engine/Shopware/Plugins/Community/Frontend/MoptPaymentPayone/Components/Payone/Builder.php on line 355 and defined in /var/www/XX.XX.XX.

[2016-06-28 15:13] Fatchip-Support commented on #18
Hi, i cannot confirm this.
I checked the database after uninstall; the entry is removed correctly.
I think this happend after a previously faulty uninstall run of the module.

[2016-06-28 15:15] Fatchip-Support commented on #18
Nevertheless, i will add an extra check to the installation routine to prevent the creation of the menu item, if it already exists.

[2016-06-29 14:32] fjbender commented on #19
Seems to be a PHP7 strictness issue.

[2016-06-30 06:28] fjbender commented on #19
Should be fixed in 56a75db

[2016-06-30 10:27] emtii opened #20 "payment methods overview > button duplicate payment methods > UX wrong"
Hi,

the button "duplicate payment method" is right from "save", should be left from "save" button because this is where you expect to click "forward" or "save" an action.

I always duplicate the payment methods when doing some changes to a method.

[2016-07-01 06:41] emtii opened #21 "cant save credentials in credit card config in backend"
see summary

[2016-07-01 07:36] fjbender opened #22 "Transaction status processing broken on PHP7"
When push a transaction status to an instance running on PHP7 we receive the "error processing request" response from the MoptShopNotification controller at https://github.com/PAYONE-GmbH/shopware-5/blob/master/Frontend/MoptPaymentPayone/Controllers/Frontend/MoptShopNotification.php#L81

Somehow the array mapping in the Transaction Service doesn't work, but I can't quite put my finger on it.

[2016-07-01 07:50] fjbender commented on #21
Can't reproduce in SW 5.1.5 on PHP 5.6.4. PHP7 issue?

[2016-07-01 08:15] Fatchip-Support commented on #22
Hi Florian,
i will check this today. All Testing had been done only locally.

[2016-07-01 10:26] Fatchip-Support commented on #21
One of the Options had an an empty value, but had to be set to either yes or no.
Now the form can be properly saved.

[2016-07-01 11:57] Fatchip-Support commented on #16
This issue should be fixed now
The unused $session variables in Addresscheck.php are false positives and can be ignored.

[2016-07-01 12:25] fjbender commented on #21
I'm getting the following error in a PHP 7.0.4 environment:

`[Fri Jul 01 14:24:06.105574 2016] [:error] [pid 20327] [client 10.0.4.5:62753] PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Shopware\\CustomModels\\MoptPayoneCreditcardConfig\\MoptPayoneCreditcardConfig::setShop() must be an instance of Shopware\\CustomModels\\MoptPayoneCreditcardConfig\\Shop, instance of Shopware\\Models\

[2016-07-01 12:45] #16 closed

[2016-07-01 14:09] emtii opened #24 "configuration widget is not able to save changes"
/backend/MoptConfigPayone/load/?f=m/Config|m/Signal|m/Payment|v/main/Window|v/main/Detail|store/Con…:263 Uncaught TypeError: Cannot read property 'data' of undefinedme.submit.failure @ /backend/MoptConfigPayone/load/?f=m/Config|m/Signal|m/Payment|v/main/Window|v/main/Detail|store/Con…:263Ext.apply.callback @ ext-all.js?201604081130:21Ext.define.afterAction @ ext-all.js?201604081130:21Ext.define.ru

[2016-07-01 14:25] Fatchip-Support commented on #24
which configuration tab  did you try to save, when you got this error message?

[2016-07-01 14:30] emtii commented on #24
Backend > Customers > Payment > Payone > Konfiguration > Tab Credit Assessment

Tried to change max basket value and save it. widget breaks

[2016-07-01 16:11] Fatchip-Support commented on #24
fixed.

[2016-07-04 07:07] #21 closed

[2016-07-05 14:19] emtii opened #25 "added payment restrictions in terms of max basket value bot not get recognized by "pre calc widget" of shopware""
Added a max basket value of 1000 € to several payment methods in the backend then added 100 products with summarized value of 3000 € to the basket. I am still able to choose the payment method in the bottom left corner in shopwares pre shipping costs calculator.

[2016-07-05 14:21] emtii opened #26 "max basket value does not get recognized, still able to choose a invalid payment method"
Added a value of 1000 € to max basket value for several payment methods in the backend config Payments > Payone > Konfiguration

Added 100 items to the basket with summarized value of 3000 €.

I am still able to choose all payment methods.

[2016-07-06 05:47] fjbender commented on #25
This is for the calculation of the theoretical shipping cost. It's not bindingly in any way. I'm not sure whether it makes sense to implement that feature.

[2016-07-07 15:02] Fatchip-Support commented on #25
You can restrict paymentmeans by basket value and many other options with the stock shopware riskmanagement function, see
http://community.shopware.com/Riskmanagement_detail_859.html  (german documentation)

[2016-07-07 15:05] Fatchip-Support commented on #26
You can restrict paymentmeans by basket value and many other options with the stock shopware riskmanagement function, see
http://community.shopware.com/Riskmanagement_detail_859.html (german documentation)

The min and max  basket value options are only used for triggering the payone internal risk- and address- check functions.

[2016-07-07 15:06] #19 closed

[2016-07-07 15:09] Fatchip-Support commented on #22
fixed in 19de09dff64441e6682254a8780fcf36ba52907d

[2016-07-07 15:09] #22 closed

[2016-07-07 15:09] #24 closed

[2016-07-07 15:11] Fatchip-Support commented on #25
The min and max basket value options are only used for triggering the payone internal risk- and address- check functions.

[2016-07-07 15:17] Fatchip-Support commented on #20
This not an issue of the module but the standard shopware ux.
Please open this issue with Shopware directly.
https://github.com/shopware/shopware

[2016-07-07 15:17] #20 closed

[2016-07-07 15:19] #18 closed

[2016-07-08 10:04] emtii commented on #26
ok - i know the risk management but someone of payone told me to use those fields in your config.

fine for me - closed

[2016-07-08 10:04] #26 closed

[2016-07-08 10:07] emtii commented on #25
As the data are the same for both worlds, pre calc and real calc, its not really a "theoretical calc". Its the calc for real shipping costs so it makes sense to implement it there aswell. but as explained by fatchip the feature is not meant to do it that way so I use shopwares own feature.

[2016-07-08 10:07] emtii opened #27 "cant open backend widget"
Trying to open Customers > Payment Payone > Konfiguration

404

Ext.define('Shopware.apps.Index', {
extend:'Enlight.app.SubApplication',
bulkLoad: true,
loadPath: '/backend/Index/load',
controllers:[
'Main',
'Widgets',
'ErrorReporter',
'ThemeCacheWarmUp'
],
requires: [
'Shopware.container.Viewport'
],
views: [
'Main',
'Menu',
'Footer',
'Search',
'widgets.Window',
'widgets.Sales',
'widgets.Upload',

[2016-07-08 10:08] #25 closed

[2016-07-08 10:24] fjbender commented on #27
Can't reproduce on a fresh SW 5.2.1 with current Payone from git and PHP 7.0.4. What setup exactly are you using?

[2016-07-08 10:34] emtii commented on #27
activate http cache

Request URL:http://admin.dev.b2c.bvb.sportsandbytes.de/backend/MoptConfigPayone?file=app&no-cache=1467902443+2+1
Request Method:GET
Status Code:404 Not Found (from cache)

[2016-07-08 11:11] fjbender commented on #27
Still can't reproduce locally.

@Fatchip-Support can you take a look?

[2016-07-08 11:37] Fatchip-Support commented on #27
The PAYONE Plugin was installed but not activated.
After activating everything seems fine now.

[2016-07-08 12:44] fjbender commented on #27
Thanks.

[2016-07-08 12:44] #27 closed

[2016-07-12 09:30] fjbender commented on #17
Introduced with v3.3.9

[2016-07-12 09:30] #17 closed

[2016-08-15 11:18] emtii opened #29 "wrong customer ip with loadbalancer setup"
Hi,
currently we face the issue that in a setup with loadbalancer the plugin always submit the ip of the loadbalancer to payone instead of the customer ip.

Could you please have a look into that one? Thank you.

[2016-08-15 11:43] fjbender commented on #29
@Fatchip-Support: IP is apparently set in \Mopt_PayoneParamBuilder::getPersonalData and grabbed from $_SERVER superglobal. Probably, a patch is needed to grab it from some kind of X-Forwarded-For header, if present.

@emtii: Does your loadbalacer setup provide the actual customer's IP in any header fields?

[2016-08-15 13:21] Fatchip-Support commented on #29
Hi,
i just added the necessary check, so that whenever the X-Forwarded-For Header is found it will be preferred over the REMOTE_ADDR Header.

[2016-08-15 14:27] emtii commented on #29
ok thank you, payolution has to check this now

[2016-08-17 10:37] emtii opened #30 "Failed opening required file"
[17-Aug-2016 12:33:36 Europe/Berlin] PHP Fatal error:  require_once(): Failed opening required '/var/www/XXXXXXXX/htdocs/engine/Shopware/Plugins/Community/Frontend/MoptPaymentPayone/Components/CSRFWhitelistAware.php' (include_path='/var/www/XXXXXXXXXXXX/htdocs/engine/Library:.:/usr/share/php5:/usr/share/php') in /var/www/XXXXXXXXXXXXXX/htdocs/engine/Shopware/Plugins/Community/Frontend/MoptPaymentP

[2016-08-17 11:31] fjbender commented on #30
@emtii Did you clone straight from here? It's right there in the repo: https://github.com/PAYONE-GmbH/shopware-5/blob/master/Frontend/MoptPaymentPayone/Components/CSRFWhitelistAware.php

Maybe not best practice to require_once() it directly, but should work in any case if the file exists and is readable.

[2016-08-18 14:15] emtii commented on #30
yes, pulled from here. But its fine right now. thanks

[2016-08-18 14:15] #30 closed

[2016-08-18 14:15] emtii opened #31 "implement field error handling shopware wise"
fields in template do not contain any type in error handling like shopware provides for all their fields. this should be implemented by default.

[2016-08-19 05:45] fjbender commented on #31
I'll talke a look into that.

[2016-08-19 08:12] emtii commented on #29
feedback is was fixed, so i close this one for now.

[2016-08-19 08:12] #29 closed

[2016-08-19 08:21] bestit-tkellner opened #32 "External API Functions"
Hi,
it would be nice, if we can get two public available function (over your plugin Bootstrap.php) to refund or capture values.

[code]

[2016-08-19 09:04] fjbender commented on #32
Sounds like a sensible feature for me. Some questions for clarification:

However, capturing each order position individually might produce a high number of capture requests to our plattform that might produce higher costs for merchants. It should be possible to capture multiple order positions at once, e.g. in an array() of s_order_details.id. Will that also work in the setting you have in mind?

[2016-08-19 09:29] fjbender commented on #31
I can't exactly see what you mean. For instance on the payment page templates, we validate all input fields (with exception of the credit card fields) on formal correctness:

[code]

See example screenshot:

![input_validation_sepa](https://cloud.githubusercontent.com/assets/7370694/17805490/0dcd884e-6600-11e6-8dac-9a97f48f22bf.png)

Or did I completely misunderstand you?

[2016-08-19 09:30] bestit-tkellner commented on #32
@fjbender thanks for your information, i didn't know that.

Yes we can use an array for this function like this:
[code]

It's also possible to use a quantity instead of a amount.

[2016-08-19 09:31] fjbender commented on #32
Appreciate your feedback, I'll talk to Dev about it.

[2016-08-19 10:08] bestit-tkellner commented on #32
Hi @fjbender ,
i found the reason why we want to use amount instead of quantity.

We have to calculate article specific amounts for custom articles.

[2016-08-19 12:55] fjbender commented on #32
Problem is, that some payment methods require the capture to contain exactly the positions given in the preauthorization. While "free amount" captures work for some payment methods, this is not standard. The standard would be only to capture the preauthorized positions, as this works for all payment methods.

[2016-08-19 13:12] fjbender commented on #32
@Fatchip-Support a viable method to keep track of how many articles have been captured and refunded would be to store the number of captured and debited articles in the `s_order_details_attributes` table. ERP systems will need to keep track of this in order to be able to refund and capture articles of the same type at the same time.

[2016-08-25 17:42] Fatchip-Support commented on #32
I added the neccessary method as requested.
The first argument $orderDetailParams is an array like this:

$data = [
    [
        'id' => 12,
        'amount' => 10.0
    ],
    [
        'id' => 13,
        'quantity' => 5
    ],
];

Note that all orderDetail Ids have to belong to the same Order.

[2016-08-26 07:25] bestit-tkellner commented on #32
hey,
thanks for your support.

public function captureOrder($orderDetailParams, $finalize = false, $includeShipment = false)

$orderDetailParams = this parameter is ok
$finalize = can you explain this parameter?
$includeShipment = i think shippings costs are captured? so i set this parameter only to true in first caputre?

[2016-08-26 08:26] Fatchip-Support commented on #32
Hi,
Set $finalize  to true if you capture the full amount of all order postitions or on your last capture in case of multiple partial captures (corresponds to  "Finaler Geldeinzug" when you do the capture manually via the backend).
When capturing partial amounts this parameter is set to false. (corresponds to "Teil- Geldeinzug in the backend).
Set $includeShipment to true to capture including ship

[2016-08-26 08:27] bestit-tkellner commented on #32
thanks a lot!

[2016-08-26 08:40] #32 closed

[2016-08-26 11:27] emtii commented on #31
No its fine for debit. but for creditcard there is nearly nothing. And sometimes there are really awful javascript popup windows.

Customer tried to add letters for credit card number instead of numbers, this is something what could get improved.

[2016-08-26 11:32] fjbender commented on #31
I see what you mean. We're working on allowing the placeholder attribute in credit card fields, this feature will be available soon.

To get rid of the error JavaScript alerts we do provide the feature to write the error message in a div field.

[2016-08-29 12:49] emtii opened #33 "do not append ressources of unused payment methods"
Currently there is a load of barzahlen.css everytime we are on the payment page. Which is not needed, as we do not use barzahlen in general. The method is deactivated. Make sure you do not load resources which are not needed, please.

Additionally.... this file only has one selector

div.barzahlencode img {
    display: initial;
}

[2016-08-29 12:52] emtii opened #34 "implement js resources by shopware compiler collector"
This file should get implemented:

/engine/Shopware/Plugins/Community/Frontend/MoptPaymentPayone/Views/frontend/_resources/javascript/mopt_checkout.js

by shopwares own compiler collector.

## example

[code]

[2016-09-20 08:09] #33 closed

[2016-09-20 08:09] #34 closed

[2016-09-22 15:17] emtii opened #35 "payment method debit -german-"
Bei Lastschriftzahlung gibt es folgenden Bug:
- Wenn ich Land, Kontoinhaber, Konto-Nr. und BLZ ausgefüllt habe kann ich nicht bestellen. D.h. ich MUSS einen IBAN angeben.

Gewünschte Lösung:
- Wenn Land, Kontoinhaber, Konto-Nr. und BLZ ausgefüllt sind, ist der Iban kein Pflichtfeld mehr!
- Wenn Land, Kontoinhaber und Iban gefüllt sind, sind die Felder Konto Nr und BLZ keine Pflichtfelder mehr.

[2016-09-23 07:37] fjbender commented on #35
Definitiv ein Bug, wir gehen in die Umsetzung.

[2016-10-04 16:04] emtii opened #37 "Uncaught Error: Call to a member function getArrayCopy() on null"
just found this one:

[Tue Oct 04 18:01:37.121008 2016] [:error] [pid 4936] [client 10.6.219.2:48338] PHP Fatal error:  Uncaught Error: Call to a member function getArrayCopy() on null in /var/www/xxxxxxxxxx/htdocs/engine/Shopware/Plugins/Community/Frontend/MoptPaymentPayone/Controllers/Frontend/MoptShopNotification.php:77\nStack trace:\n#0 /var/www/xxx.xxx.xxx/htdocs/engine/Library/Enlight/Contro

[2016-11-01 07:33] fjbender opened #40 "Give order attribute "mopt_payone_payolution_clearing_reference" a better name"
When rebuilding the order attribute model for Shopware 5.3 we should rename the mopt_payone_payolution_clearing_reference attribute to reflect its actual use. The attribute is used for all kinds of clearing references, not only Payolution.

Same goes for mopt_payone_payolution_workorder_id, as other payment methods might need workorderid reference in the future.

[2016-11-01 07:35] fjbender opened #41 "Remove usage of deprecated functions"
Cf. https://github.com/shopware/shopware/blob/5.3/UPGRADE-5.3.md

[2016-11-21 12:20] emtii commented on #35
Ist dies irgendwo in den Releases mit drin gewesen?

[2016-11-21 12:33] fjbender commented on #35
Ja, das ist umgesetzt.

[2016-11-21 12:33] #35 closed

[2016-11-22 16:01] JensPetersRhiem opened #42 "Fehler bei Orderstatusupdates von netto-Bestellungen"
Hallo PAYONE Support,
das PAYONE Payment Plugin für Shopware erzeugt in der Version 3.4.0_5908 auf Shopware 5.2.9 einen Fehler.

Der Fehler stellt sich wie folgt dar:

Bei einem unserer Kunden können B2B-Kunden im Shop in netto bestellen (s_order.net = 1). Wenn ein Benutzer nun im Backend den Bestellstatus dieser Bestellung ändert, werden die Preise der Positionen neu berechnet. Bei jeder Statusän

[2016-11-23 07:00] fjbender commented on #42
Reproduzierbar.

@Fatchip-Support: Bitte schaut mal.

[2016-11-25 15:44] JensPetersRhiem opened #43 "Fehler bei Benutzung der recurringAction im Backend"
Hallo PAYONE Support,
ich habe noch einen Fehler in der Version 3.4.0_5908 auf Shopware 5.2.9 entdeckt. Es geht um wiederkehrende Zahlungen über das Backend, wie sie z.B. von AboCommerce genutzt werden.

Der Fehler stellt sich wie folgt dar:

Einer unserer Kunden benutzt das Plugin AboCommerce um monatlich Abonnement-Bestellungen im Backend zu erzeugen. Dabei wird die recurringAction des PAYONE-Pl

[2016-11-29 08:54] fjbender commented on #43
@JensPetersRhiem kann ich soweit nachvollziehen. Was wäre die Alternative zu ``$article['netprice']``?

[2016-11-29 11:51] JensPetersRhiem commented on #43
@fjbender Da bin ich mir auch nicht sicher. Wir hatten das Plugin auch schon in einer älteren Version auf Shopware 4 benutzt. Da hat es mit AboCommerce einwandfrei funktioniert.

[2016-12-02 09:44] lherbst opened #44 "Improvement of external API functions"
Hi,
we currently have a project which needs us to capture pre-authorized order amounts automatically once the shop owner sends a shipping confirmation of the order to the shop.

The external API functions requested in #32 seemed to be exactly what we needed.
However, we found three drag-downs in the current implementation:

The described "quantity" is not working for the $orderDetailParams paramet

[2016-12-02 13:18] SDJeff commented on #42
Hier ist die Stelle für den Fehler:

/engine/Shopware/Plugins/Community/Frontend/MoptPaymentPayone/Subscribers/BackendOrder.php
**Zeile 84:**
`$orderDetail['price'] = round($orderDetail['price'] * ( 1 + ($orderDetail['taxRate'] /100)), 2);`

Es darf auf keinen Fall der Preis nachträglich in der Tabelle geändert werden, da auch in der Preisstufe EK Kunden netto berechnet werden kann, obwohl das Lan

[2016-12-02 13:44] fjbender commented on #44
Yes, these methods still lack proper documentation :(

The exception being echoed is also not ideal, I see that. However, current implementations rely on the captureOrder() not throwing any exceptions. We'll have to make sure that migration goes smoothly.

I'll look into the parameters as soon as I have proper documentation for the input parameters from Dev.

[2016-12-05 06:40] fjbender commented on #44
We will add proper documentation and remove the echoed Exceptions.

@lherbst can you provide a test scenario for the non-working parameters, i.e. a script? The $includeShipment parameter is passed on to buildCustomOrderCapture, and then finally to getParamCustomAmount in the ParamBuilder where it's used.

[2016-12-06 10:41] JensPetersRhiem commented on #42
Vielen Dank für den Zwischenstand.

Wann ist mit einem Bugfix zu rechnen?

[2016-12-06 10:43] JensPetersRhiem commented on #43
Gibt es hier schon weitere Erkenntnisse? Wann können wir mit einer Lösung rechnen?

[2016-12-06 11:43] fjbender commented on #43
Wir müssen wahrscheinlich die recurringAction entsprechend den Shopware 5 Standards neu bauen müssen. Das wird durch die Urlaubszeit über Weihnachten leider etwas dauern.

[2016-12-06 14:07] fjbender commented on #42
Mit f4d10c703f60b924df7693706bcbfe6f7c3743a1 gefixt.

[2016-12-06 14:07] #42 closed

[2016-12-07 08:43] lherbst commented on #44
Please find attached the screenshot of the current implementation of buildCustomOrderCapture we use in the shop (plugin version is 3.4.0_5908):
![buildcustomordercapture](https://cloud.githubusercontent.com/assets/12892280/20960499/fec6dece-bc60-11e6-8392-1d9277d6b4a5.png)

Conveniently, PhpStorm highlights the parameter $includeShipment grey, which means the variable is not used at all.

However,

[2016-12-07 15:34] fjbender commented on #44
Oh, sorry, I didn't notice you weren't using the current version from Github. We'll upload a new version to the Shopware Community Store with the updated implementation as soon as the inline code documentation is included as well.

I'd say this issue will be resolved then. Can you test again in the v3.4.4 available at https://github.com/PAYONE-GmbH/shopware-5/releases?

[2016-12-07 17:09] lherbst commented on #44
Yes, the issue concerning $includeShipment is indeed resolved with this.

However, the two other topics I mentioned would still be relevant; you already said that the echoed exceptions will be removed, can you also give any info on the last topic?

[2016-12-08 07:09] fjbender commented on #44
Not yet - I'm waiting for the documentation on what is expected to be in the $orderDetailsParams array, so I can properly test it.

[2016-12-12 08:24] lherbst commented on #44
We now switched to v3.4.4 and started to use the captureOrder() method.

However, we found a few bugs which still seem to need some fixing. Do you want me to put them here or in a different issue?

Additionally, after fixing those bugs temporarily by ourselves we were able to execute the method, however it returned false without giving any info in the logs. I maybe should mention that we use it in

[2016-12-12 08:29] fjbender commented on #44
Please open a separate issue for the bugs. Ideally, you'll open a pull request with your suggestions to fix the bugs.

Concerning the method just returning false: Please contact me at integrations@payone.de so I can take a closer look. I wanna rule out a plattform issue first.

[2016-12-12 16:55] lherbst opened #48 "Bugs in external API functions"
Hi,

while using the external API function captureOrder of the Plugin-Bootstrap we came across a few bugs / exceptions / deprecated calls:

- "Missing argument 2 for Doctrine\ORM\QueryBuilder::from()" in .../Frontend/MoptPaymentPayone/Models/MoptPayoneConfig/Repository.php on line 22
- "Undefined variable: invoicing" in .../Frontend/MoptPaymentPayone/Bootstrap.php on line 1055
- "Undefined index:

[2016-12-13 08:05] fjbender commented on #48
@lherbst which revision of the plugin are you using? Your line numbers seem to be a little off and some of the issues I can't find at all. Can you confirm the issues in the current version?

[2016-12-13 08:12] lherbst commented on #48
We are using v3.4.4 from https://github.com/PAYONE-GmbH/shopware-5/releases in Shopware Version 5.2.9.

I double-checked the line numbers and they seem to be fitting comparing to the 3.4.4 release.

[2016-12-13 08:18] fjbender commented on #48
Alright, thanks. I was comparing to current HEAD of master.

@Fatchip-Support please add this to the backlog.

[2016-12-21 07:53] fjbender commented on #43
Mit dem commit 3bc761b36af232ec211fcea556b41b9efe89bdac im Branch [AboCommerce-recurringAction-compatibility](https://github.com/PAYONE-GmbH/shopware-5/tree/AboCommerce-recurringAction-compatibility) konnte ich bei mir lokal erfolgreich Kreditkarten-Abos einziehen.

Könnt ihr auch nochmal testen?

[2016-12-21 07:55] JensPetersRhiem commented on #43
Danke für die Rückmeldung, das werde wir umgehend testen.

[2016-12-22 14:16] fjbender commented on #43
Werden wir mit #50 mergen.

@JensPetersRhiem habt ihr schon Feedback?

[2016-12-27 08:15] JensPetersRhiem commented on #43
Die Abo-Bestellungen konnten erfolgreich durchgeführt werden! Vielen Dank!

[2016-12-27 08:15] #43 closed

[2017-01-05 17:09] nether-cat opened #54 "Merge snippet folders to avoid filename conflicts"
There are two snippet folders in the same directory path:

`Frontend/MoptPaymentPayone/Snippets`
`Frontend/MoptPaymentPayone/snippets`

That causes filename conflicts on case-insensitive filesystems (e.g. on Windows and macOS). I am suggesting to merge the two directories to avoid these conflicts.

[2017-01-06 07:09] fjbender commented on #54
Good idea. Go ahead.

Can we address the deprecation of the "Default" snippet group when doing this? It's been on the list in SW-49 for quite some time now:
[code]

This would enable us to run Unit Tests automatically through Travis, as this is the last issue blocking this.

[2017-01-06 09:57] fjbender commented on #31
Placeholders are available in CC config options now.

[2017-01-06 09:57] #31 closed

[2017-01-09 08:33] fjbender commented on #54
Fixed in #55.

[2017-01-09 08:33] #54 closed

[2017-01-19 10:22] lherbst commented on #44
Hi,

can you give us any updates regarding this topic?

[2017-01-19 10:22] lherbst commented on #48
Hi,

can you give us any updates regarding this topic?

[2017-01-23 15:10] fjbender commented on #44
Hi, sorry, we can't give you anything new just yet.

[2017-01-23 15:11] fjbender commented on #48
Also, we don't have anything new here for the moment. :(

[2017-02-07 12:17] fjbender commented on #44
Fixed with pull request #64

[2017-02-07 12:17] #44 closed

[2017-02-07 12:17] fjbender commented on #48
Fixed with pull request #64.

[2017-02-07 12:17] #48 closed

[2017-03-05 14:51] nna21 opened #69 "PayOne prepayment - 4 developers failed to implement BookingID in PDF"
Liebe Kollegen,

insgesamt 4 Entwickler haben einen Tag lang vergeblich versucht, Verwendungszweck / Usage die Variable {$sBookingID} für die Zahlungsart PayOne Prepayment einzubinden. Es gelang uns zwar zuerst im Finishing (Ansicht im Checkout, nachdem Zahlung abgeschlossen wurde), aber beim Versuch, die BookingID auch im Druckansicht-PDF (aus dem Finishing erzeugt) und in der von Shopware automa

[2017-03-06 13:01] fjbender commented on #69
Hallo,

bei Vorkasse kann die TX-ID (Verwendungszweck) auch über `{$Order._order.transactionID}` im PDF Rechnungstemplate geholt werden.

[2017-03-22 06:26] emtii opened #72 "s_order_attributes.mopt_payone_is_finally_captured is never not null"
In around 40k orders in my application the attribute is never been set, would be useful to have this information in some occurences. Thank you very much.

[2017-03-22 14:44] fjbender commented on #72
I guess it's still missing from the custom capture implementation that you're using. We should build that.

[2017-04-25 11:35] SDJeff opened #81 "ERROR CheckoutFinish Subscriber getArrayCopy()"
If the UST ID Validation runs to timeout because f.e. the VATID portal is not reachable, at Shopware/Plugins/Community/Core/SwagVatIdValidation/Subscriber/CheckoutFinish.php at Line 71
you get NULL and the function fails.

`$orderDetails = Shopware()->Session()->get('sOrderVariables')->getArrayCopy();`

So the jump back to the shopware shop fails and independent if the payment was successful or no

[2017-05-02 05:39] fjbender commented on #81
Hi @SDJeff, Sorry for the delay in getting back to you.

Is there anything you'd suggest as a workaround? Is there any exception to catch, or how can we know the external service failed?

[2017-05-02 06:34] SDJeff commented on #81
You can't know. But perhaps you can check sOrderVariables before getArrayCopy of NULL Values.
Many customer's reporting us that there are trouble with the VATID portal at the moment.

[2017-05-02 13:36] fjbender commented on #81
So how exactly should our plugin behave? If I understand correctly, this error occurs when we come back into the Shop from the payment method (e.g. PayPal), so the payment has already been authorized. I'm not sure if our plugin can do anything at this point to save the order. If so, I think this is a duplicate of #37.

[2017-05-08 12:27] thomasbit opened #83 "Bootstrap::refundOrder wrong parameter passed to Mopt_PayoneParamBuilder::getInvoicingFromOrder"
We are experiencing problems when customers get should get a refund. In the API-Logs we get an errorcode 1610 (Article list faulty or incomplete)

In Bootstrap::refundOrder on line 870 the method PayoneParamBuilder::getInvoicingFromOrder is called with the 4th parameter ($debit) set to "false". This seems to be a bug, because we are in the "refundOrder" method.

[code]
The result of this parameter

[2017-05-09 09:42] fjbender commented on #83
@thomasbit can you verify 5c3ac11 fixes the issue?

[2017-05-09 10:07] Jupdi opened #85 "Errormessage not in Storefront"
Many of the Errormessages aren't displayed in the Storefront.
Instead of just printing the _customermessage_ from the response, the message is loaded from the snippets via the _moptGetErrorMessageFromErrorCodeViaSnippet_ function, which mainly returns an empty string.

Here in the _mopt_payone__handleDirectFeedback_ function,  the _ratepayError_ gets the status directly from the response, but almo

[2017-05-09 11:09] thomasbit commented on #83
@fjbender yes. I tested it and it works as expected now. Thx

[2017-05-09 11:10] fjbender commented on #83
Fixed with #84

[2017-05-09 11:10] #83 closed

[2017-05-10 06:49] T-Kuchel commented on #85
Hi @Jupdi

the customermessage often is very technical, and the buyer would not have any idea how to handle with it.
i.e. errocode=911 `Reference number already exists`

So we build a snippet method for every errorcode than can appear. The snippet is created when a unknown errcode occurs.After that it will be filled the general error-message, and you can customize this message for your needs.

In

[2017-05-10 07:42] Jupdi commented on #85
Hi @T-Kuchel
the main Problem why i opened the issue, because we alway get the same error message in the storefront, no matter which error is thrown.

In the backend i can see the response with a perfect message that whould help our customers. I would like to see this printed to the storefront.

![bildschirmfoto 2017-05-10 um 09 38 55](https://cloud.githubusercontent.com/assets/7048094/25887971/96

[2017-05-10 07:52] T-Kuchel commented on #85
you should have a snippet with the name `errorMessage872` in the snippets (Textbausteine) menu.
There you can customize the message. If you have not customzied it, the generalErrorMessage ('Es ist ein Fehler aufgetreten') for de_DE will be shown in the frontend.

[2017-05-10 07:59] Jupdi commented on #85
Thanks for you fast answers!
Okay i found the snippets, but why do i need to fill the Snippets myself? It would be more convenient to just use the customermessage that is printed in the API Log. Never had any that wouldn't be readable for our customers.
Is there a list for a mapping from errorcode to the error that occurred?

[2017-05-10 08:28] T-Kuchel commented on #85
In the past many of our merchants complain about the messages from our system (to technical, not easy to understand if you not a e-commerce pro, ...). So we decided to show always a general errormessage, but if it is necessary, you can modify the message.
If the snippet with the errorcode is not present you can create it.

You will find the errorcodes in the server-api-documentation chapter 5.7.
H

[2017-05-10 08:29] Jupdi commented on #85
Great thanks!

[2017-05-10 09:59] Jupdi commented on #85
Hi @T-Kuchel
sorry i need to reopen this, but i recognized, that not even the generalErrorMessage ('Es ist ein Fehler aufgetreten'), will be Shown in the Storefront. So if i customize the message there will be no changes.

[2017-05-10 10:22] T-Kuchel commented on #85
Wich errorcode is not shown?
I tried it in our demoshop (V5.2.22) and the message appears (javascript alert).
errorcode 1077

![grafik](https://cloud.githubusercontent.com/assets/24455360/25894217/4d694ff6-357b-11e7-93ae-d7ac243e29d8.png)

[2017-05-10 12:00] T-Kuchel commented on #85
Ok. You are already at the "endpoint" of the transaction. Anyway. This is also working fine at our Systems.
Maybe you are running an older Version. i.e. 3.4.8 of the plugin? The actual version 3.5.0 is working fine.

![grafik](https://cloud.githubusercontent.com/assets/24455360/25897657/0475043a-3589-11e7-9a1c-e9a1faa77a16.png)

[2017-06-13 15:24] thomasbit opened #92 "Bootstrap::refundOrder needs to process custom quantity for a position"
Hey,

we currently have a problem, if a customer returns less items of an order position than he has ordered. Example: The customer orders 3 shirts and returns 2.
Because the returned quantity is not considered in Bootstrap::refundOrder, the request contains the wrong quantity and we get an 1610 error (Article list faulty or incomplete|customermessage=An error occured while processing this transac

[2017-06-14 05:23] fjbender commented on #92
I guess it'd be smart to also look at Bootstrap::captureOrder in this case, as partial captures are also possible and both methods basically work the same.

[2017-06-14 06:18] thomasbit commented on #92
@fjbender As far is I understand it, both methods support to adjust the "amount" of a captured/refunded position. But our current problem is not the amount, but the **quantity** of an order position. Even if we adjust the refunded amount, we still have the problem that the wrong **quantity** is included in the refund request and we get the mentioned error.

[2017-06-14 09:18] thomasbit commented on #92
For further clarification here is our request and response log:

The order included the product with quantity 3. Price per item is 4,95. Two items were returned. Therefore the refund amount of 2*4,95 = 9,90. The problem is: "no[1]=3", this is should be "2" instead of "3".

Request:

`s:491:"amount=-990|capturemode=notcompleted|currency=EUR|de[1]=Articlename|ed[1]=|encoding=UTF-8|id[1]=16112100|int

[2017-06-15 06:20] #69 closed

[2017-06-15 06:24] #85 closed

[2017-06-15 11:00] fjbender commented on #92
@thomasbit can you look at #93 and confirm that this fixes the error?

[2017-06-15 11:09] thomasbit commented on #92
Just looking at the code, I think this will fix the problem. I will test it in our application.

[2017-06-16 09:53] #92 closed

[2017-06-18 19:12] Emin3m opened #94 "Error on Payolution Installment 5.1.3"
on our 5.1.3 if you order as a guest and don`t fill your birthday in "registration" but on payment page you get an error on **ajaxHandlePayolutionPreCheckAction()** in MoptAjaxPayone.php

for me it was this line (near line 394):
`$config = $this->moptPayoneMain->getPayoneConfig($this->getPaymentId());`

"**$this->getPaymentId()**" is empty... seems that the whole session ist empty at this point! F

[2017-06-19 13:12] fjbender commented on #94
Hi @Emin3m,

Unfortunately, I can't reproduce the issue you're describing. However, just from looking at your code I don't see anything wrong. So if it works for you, I guess you're fine :)

[2017-06-19 13:12] #94 closed

[2017-06-20 20:51] Emin3m opened #95 "Payolution Fehlermeldung!!!"
Ich mach mal in deutsch :-)

In der Datei MoptPaymentPayone (Frontend Controller) ist die Funktion **payolutionErrorAction** (ca. Zeile 985) anders aufgebaut als die Funktion danach **ratepayErrorAction** was dazu führt, dass bei Fehlermeldungen durch den Zahlungsanbieter Payolution immer nur die gleiche nichts aussagende Fehlermeldung "Es ist ein Fehler aufgetreten" ausspuckt wird. Ich habe die w

[2017-06-21 12:12] T-Kuchel commented on #95
i forwarded this issue to @FATCHIP-GmbH and keep you informed on progress.

[2017-07-10 07:58] fjbender commented on #95
Solved with #99

[2017-07-10 07:58] #95 closed

[2017-07-10 07:58] fjbender commented on #81
Closed as duplicated of #37

[2017-07-10 07:58] #81 closed

[2017-08-17 08:34] Crease29 opened #116 "Services?"
Hello,

I'm writing a plugin that imports retours from a logistics service as CLI command.
When a retour comes in the plugin has to refund the returned positions.
So I thought I'll have a look into the workflow that is used in the backend (see \Shopware_Controllers_Backend_MoptPayoneOrder::moptPayoneDebitAction()).

Because you use `$this->Request()` here, which is understandable, I copied your co

[2017-08-17 13:14] fjbender commented on #116
Hi @Crease29,

we already have some undocumented methods for this in Bootstrap.php. However, we're currently working on moving these methods into a service, so that they can be used independently from Bootstrap.php (which isn't a nice way to begin with, but we had our reasons).

Stay tuned for further updates.

[2017-09-20 11:22] pdornbusch opened #125 "Performance (Subscribers) sGetBasket"
Hi,

please consider replacing calls toShopware()->Modules()->Basket()->sGetBasket() with Shopware()->Modules()->Basket()->sGetBasketData() where possible.

As a call to sGetBasket() will always trigger a recalculation of the whole basket and executes all attached subscribers again. This is not a big problem at all for small baskets with 5 to 10 items but has an large impact for baskets with more

[2017-09-21 10:00] fjbender commented on #125
Thanks for the suggestion! Does sGetBasketData() have any drawbacks in comparison with sGetBasket()?

[2017-09-21 14:24] pdornbusch commented on #125
sGetBasket() always calls sUpdateArticle for each basket position and recalculates surchages, discounts, vouchers ans so on.

IMHO you should check if sGetBasket or sUpdateArticle was called within the dispatch process before.

[2017-09-28 09:39] AndreasBielmeier opened #127 "Fatal error: Uncaught Error: Unsupported operand types in .../engine/Shopware/Plugins/Community/Frontend/MoptPaymentPayone/Subscribers/FrontendAccount.php:70"
Installed plugin version is 3.6.0, Shopware Version 5.2.27.

I have registered a new account in shopware (completely new, no checkout, no order), then i clicked on my account and payment types, the following error occurs:
Fatal error: Uncaught Error: Unsupported operand types in .../engine/Shopware/Plugins/Community/Frontend/MoptPaymentPayone/Subscribers/FrontendAccount.php:70
Stack trace:
#0 .../

[2017-09-28 13:18] fjbender commented on #127
I could reproduce this issue. We'll look into that and issue a fix.

Thanks
Florian

[2017-10-02 13:23] mpathy commented on #127
We have that too and are only days from going live.. Hope you can fix this soon!

[2017-10-02 15:02] T-Kuchel commented on #127
Sorry! It is already fixed with https://github.com/PAYONE-GmbH/shopware-5/pull/128

[2017-10-02 15:02] #127 closed

[2017-10-06 11:23] tessamino-it opened #129 "Substring in class PayoneParamBuilder too long for further processing"
In the following code sequence https://github.com/PAYONE-GmbH/shopware-5/blob/0ad26f82e9de6ac58ca9501b8427f434055e2d74/Frontend/MoptPaymentPayone/Components/Classes/PayoneParamBuilder.php#L1218
articlename ist shortened to 100 characters but should be a maximum of 32 chars. This should be fixed, otherwise the transaction isn't processed and will be reported as an error in the API-Log.

[2017-10-09 11:29] fjbender commented on #125
We have now a pull request for this issue: https://github.com/PAYONE-GmbH/shopware-5/pull/130

@pdornbusch Can you confirm that this is a viable approach?

Cheers
Florian

[2017-10-09 12:15] pdornbusch commented on #125
@fjbender looks good! We used a hash for the cart content in our approach to reduce the subscriber count but your approach seems more stable.

Best,
Patrick

[2017-10-09 13:20] AndreasBielmeier commented on #127
Thanks a lot. When will be the update available in shopware plugin store?

[2017-10-10 11:21] #125 closed

[2017-10-11 06:52] fjbender commented on #116
Fixed with #131

[2017-10-11 06:52] #116 closed

[2017-10-12 09:06] lumpi2k opened #134 "Could you make the default styles for hosted iFrame more usable?"
Hi there,

I noticed the default styles that come with new installations don't really work even with the standard template. I had a look at the defaults and found that the iframe heights don't really match the height of the fields in them with the standard CSS.

![before](https://user-images.githubusercontent.com/32732790/31487945-7324250a-af3c-11e7-982e-12d40971e788.JPG)

Could you alter the defa

[2017-10-13 08:25] fjbender commented on #134
It's a no brainer, we'll do it :)

[2017-10-13 09:51] #129 closed

[2017-10-16 06:12] #134 closed

[2017-10-16 06:14] fjbender commented on #134
Fixed in #136. Please note that this change only takes effect when freshly installing the Plugin or truncating the credit card config table before the update.

[2017-11-02 12:41] shyim opened #144 "Fatal error: Uncaught Error: Unsupported operand types in MoptPaymentPayone/Subscribers/FrontendAccount.php:70"
Hey,
we found a issue with the account payment switcher while the payone plugin is active. I guess the problem is the usage of += which throws a fatal error on php7.

PHP: 7.0.24
Plugin Version: 3.6.0

[2017-11-06 07:25] fjbender commented on #144
I guess we have this already fixed with #127. However, that fix is not yet live in the Shopware Community Store. I'll attend to that.

[2017-11-06 07:25] #144 closed

[2017-11-07 08:26] shyim opened #145 "Call to undefined method Shopware_Proxies_sBasketProxy::sGetBasketData()"
Since last store update payone is using a newer basket function which does not exist in Shopware 5.1.
That currently brokes the cart.

Message:
Fatal error: Call to undefined method Shopware_Proxies_sBasketProxy::sGetBasketData() in engine/Shopware/Plugins/Community/Frontend/MoptPaymentPayone/Components/Classes/PayoneMain.php on line 186503

[2017-11-07 10:53] #145 closed

[2017-11-15 09:19] mfritsche-dotsource opened #150 "Paypal Express Checkout always creates order as guest user"
We have noticed a change in Paypal Express behaviour in the recent version 3.7.0.

Before this release a check was made if the user is logged in and if not a new user was created. Code example Controllers/Frontend/MoptPaymentEcs.php createrOrUpdateAndForwardUser() function:
[code]
This changed with 3.7.0. Now always a new user is created which also results in a new session and the user is not logg

[2017-11-15 10:22] fjbender commented on #150
This change was introduced with #124 and makes sure that the address coming from PayPal is always used as invoice and shipping address, because this is required by PayPal.

What's the expected behavior here for logged in users? Especially when the addresses in Shopware and PayPal differ.

[2017-11-15 10:53] mfritsche-dotsource commented on #150
Thank you for your reply.

Personally i would expect that the currently existing addresses in the user session will be overwritten with the ones from Paypal and the user stays logged in.

That way the order will stay linked to the user and can be reviewed in his account and used for other services like RMA. This information will be lost and inaccessible if a new user is created and the order treat

[2017-11-15 14:55] fjbender commented on #150
That makes sense to me. However, we chose to go the straightforward way and just treat every PayPal ECS user as a completely new customer to be completely safe in terms of PayPal Buyer/Seller Protection.

As we recently changed this behavior, I will, unfortunately, not have room for this in one of the upcoming weeks. You are very welcome to propose a pull request and we can discuss the changes her

[2017-11-20 20:24] Forestsoft-de opened #152 "Fatal error: Uncaught Error: Unsupported operand types in /var/www/html/engine/Shopware/Plugins/Community/Frontend/MoptPaymentPayone/Subscribers/FrontendAccount.php on line 70"
https://github.com/PAYONE-GmbH/shopware-5/blob/67916787bd517ecc416ee21f0daf45695d9a5098/Frontend/MoptPaymentPayone/Subscribers/FrontendAccount.php#L69

Shopware 5.2.26 und PHP 7.0.14

paymentData ist bei uns false

[2017-11-21 07:55] fjbender commented on #152
Das sollte eigentlich mit #133 gefixt worden sein. Welche Modulversion setzt du ein?

[2017-11-24 16:16] thomasbit opened #154 "MoptShopNotification::indexAction creates duplicate entries in order table"
We encounter a serious problem with duplicates in the s_order table that are created by the plugin.

This occurs under certain circumstances:
- The shop is under high load
- Many sessions are being created in a very short amount of time

The MoptShopNotification::indexAction is called asynchronously by the PayOne servers after a user has completed a payment process. (we see 2-3min delays in our lo

[2017-11-26 00:09] Forestsoft-de commented on #152
Muss ich checken.

[2017-12-13 08:58] mfritsche-dotsource opened #158 "AmazonPay inconsistent order number"
Hello,

i noticed some flaw in the Payone AmazonPay order handling which is done in Controllers/MoptPaymentAmazon::finishAction().

At the beginning of the function the order number is reserved for transmission to Amazon:

[code]
Later on when the process was successful, the order is saved and therefor a new order number created:

[code]

Afterwards the newly created order number is overwritten by

[2017-12-13 10:17] fjbender commented on #158
I think this is a possible bug. We'll investigate.

Cheers
Florian

[2018-01-02 14:39] fjbender commented on #158
Fixed with ed1f9b22af1bc84e125338b51b74afe35351b1fa

[2018-01-02 14:39] #158 closed

[2018-01-17 13:00] NilsEvers opened #167 "Capture Order fails with Exception: Entity of type 'Shopware\Models\Tax\Tax' for IDs id(0) was not found"
There is an issue when capturing orders in the shopware backend. The issue arises for orders which contain a position with `taxID 0` assigned. This may be the case when the order contains a voucher. Capturing an order will result in the following Exception: `Entity of type 'Shopware\Models\Tax\Tax' for IDs id(0) was not found`

The responsible code is found in [Mopt_Payone_ParamBuild::getInvoicing

[2018-01-18 07:08] fjbender commented on #167
Thanks for the detailed analysis - we'll take a look and fix it.

[2018-01-29 10:03] #167 closed

[2018-02-01 08:24] NilsEvers commented on #167
Thank you for fixing this issue. Is there a schedule for the next release yet? I also noticed that the last release v3.8.0 isn't available through the Shopware store.

[2018-02-07 12:44] NilsEvers opened #171 "Payment-Status-Mapping for appointed is ignored"
The payment-status-mapping is ignored. Instead of using the value defined in the config, the hard-coded value 18 (reserved) is used.

The problematic code is in the [MoptShopNotification-Controller on line 173](https://github.com/PAYONE-GmbH/shopware-5/blob/137b66655b5da8abca323063fe8597c133b7ec09/Frontend/MoptPaymentPayone/Controllers/Frontend/MoptShopNotification.php#L173).

This is a severe pro

[2018-02-15 09:29] NilsEvers commented on #171
Is there any news regarding this issue? As I pointed out this is a severe bug for our client.

I also like to point out another issue, which may also be related to the same code-block. Some orders are set to the state 119, which is amazon_delayed, even though the payment method is not Amazon Pay. I am not sure if the failed cause is set to a wrong value, when you process the order or if you misint

[2018-02-15 09:48] fjbender commented on #171
Sorry, I was on leave and couldn't get back to your issue until today.

I realize that some merchants rely on the appointed status mapping to something specific while other merchants rely on us mapping it statically to reserved. We should find a better approach to this without breaking the default mapping many merchants are accustomed to.

The second issue is somewhat interesting. Which payment me

[2018-02-15 10:02] NilsEvers commented on #171
Yes, all the orders that got mapped to state 119 have the payment method PayPal.

[2018-02-15 10:14] fjbender commented on #171
I suppose, as the pending status with PayPal is only temporary, that the orders should change to "reserved" after a while. But still, we need to improve the amazon_pending status thing.

[2018-02-15 13:57] NilsEvers commented on #171
It is actually the other way around. The orders are saved with status 17 and a few minutes later are updated to 119 via the Payone shop-notification. We have to change the status by hand or the orders won't get processed otherwise.

Our client's Shop has quite a large amount of orders per day. And those issues are a serious problem for us.

Is there a roadmap for when this will be fixed?

[2018-02-15 14:07] fjbender commented on #171
Okay, that's weird, seems like the notifications are coming in the wrong order. Can you send me the merchant ID and one or two affected TXIDs per Mail to integrations@bspayone.com? Thanks!

We'll see if we can fix this on our side or need to issue a patch for the Shopware connector.

[2018-04-04 12:29] fjbender commented on #171
@NilsEvers Can you confirm that #175 fixes the issue? It looked good in my tests.

[2018-04-09 09:49] fjbender commented on #171
We have fixed this issue with #175

[2018-04-09 09:49] #171 closed

[2018-04-19 11:54] MarcoBecker opened #183 "AmazonPay immer im Sandbox-Modus"
AmazonPay kann aktuell nicht im Live-Betrieb genutzt werden da, obwohl im Backend in den PayOne-Konfigurationen der Live-Modus ausgewählt ist, in allen Templates(bspw. ajax_cart_amazon.tpl) immer das Sandbox-JavaScript eingebunden wird:
`script async="async"
        src='https://static-eu.payments-amazon.com/OffAmazonPayments/de/sandbox/lpa/js/Widgets.js'>
</script`

Eine Abfrage nach Sandbox- ode

[2018-04-19 11:57] MarcoBecker opened #184 "AmazonPay: Fatal error: Uncaught Error: Call to a member function getMaxTax() on null"
Nachdem Amazon über Shopware aufgerufen wurde, logge ich mich mit meinen Zugangsdaten ein. Anschließend muss ich bestätigen, dass meine Daten an den Shop übergeben werden. Stimme ich dem zu werde ich weitergeleitet und lande im Shop auf der Seite:
https://www.xyz.de/moptPaymentAmazon#access_token=...

mit der Fehlermeldung:

Fatal error: Uncaught Error: Call to a member function getMaxTax() on nul

[2018-04-20 06:47] fjbender commented on #183
Das ist definitiv ein Bug. Schauen wir uns an.

[2018-04-20 06:48] fjbender commented on #184
Könnte auch ein Bug sein. Sind Voucher im Warenkorb?

[2018-04-20 06:51] MarcoBecker commented on #184
Hi.
Voucher nicht aber ein kostenloses Prämienprodukt.

[2018-04-20 09:36] fjbender commented on #184
Auch hier: #186 sollte das fixen, wir testen aktuell noch, aber dein Feedback hilft auch immer! :)

[2018-04-26 06:44] MarcoBecker commented on #183
Funktioniert. Ich werde jetzt zur live-Seite von Amazon weitergeleitet

[2018-04-26 06:44] MarcoBecker commented on #184
Der Fatal error ist weg. Funktioniert.

[2018-04-26 06:47] MarcoBecker opened #187 "AmazonPay: Keine Übertragung der Kundendaten in die Checkout Review-Seite"
Hallo.
Nachdem die Probleme mit dem Sandbox-Mode und dem Fatal error gefixt wurde, stehe ich nun vor dem nächsten Problem:
- Ich klicke im Shop auf den Amazon Pay Button
- Logge mich bei Amazon mit meinen Daten ein
- Werde wieder in den Shop zurück geleitet
- Der Container amazonContentWrapper hat außer zwei Sub-Divs keinen Inhalt. Normalerweise sollten hier die Adress- und Zahlungsdaten des Amazo

[2018-04-26 07:14] fjbender commented on #187
Ich glaube, das ist ein bekanntes Problem und auch bei uns im Test schon aufgefallen. Schmeißt die JS Console ein
`Uncaught TypeError: $ is not a function
    at window.onAmazonLoginReady (moptPaymentAmazon?access_token=Atza|[token]&token_type=bearer&expires_in=3600&scope=profile payments%3Awidget payments%3Ashipping_address payments%3Abilling_address:314)
    at Widgets.js:132
    at Widgets.js:1

[2018-04-26 12:56] MarcoBecker opened #188 "Fehlerhafte Steuerberechnung der Versandkosten im Checkout"
Hallo.

Wir liefern unsere Waren auch nach Österreich. Hierzu wurden im Backend die entsprechenden Steuersätze gepflegt. Befinde ich mich nun mit einer deutschen Rechnungsadresse im Checkout und wähle auf der Übersichtsseite eine abweichende Lieferadresse in Österrreich, erhalten ich falsche Preis und Steuerangaben. Erst nach einem erneuten Refresh der Seite stimmen die Preise und Steuern wieder.

[2018-04-26 13:01] MarcoBecker commented on #187
Hi.
Genau diese Fehlermeldung bekomme ich in der Console auch angezeigt.

[2018-04-26 13:19] fjbender commented on #188
Danke für den Screencast, das erleichtert das. Wir schauen es uns an.

[2018-05-04 07:39] MarcoBecker commented on #188
Hi. Gibt es hier schon News?

[2018-05-04 09:25] MarcoBecker commented on #187
Hi. Seid ihr bei diesem Problem schon weiter gekommen?

[2018-05-07 06:04] fjbender commented on #188
Leider noch nicht. Wir sind weiterhin dran.

[2018-05-07 06:15] fjbender commented on #187
Moin! Das ist aktuell noch in der Entwicklung.

[2018-05-16 12:33] #183 closed

[2018-05-16 12:33] #187 closed

[2018-05-25 06:59] fjbender commented on #184
Fixed with #186

[2018-05-25 06:59] #184 closed

[2018-05-31 08:28] #188 closed

[2018-06-19 12:28] elbsurfer commented on #37
Hello,
I just had the same issue. Is there any news regarding this issue? Why it occurs and how we can prevent it?

[2018-06-21 06:29] fjbender commented on #37
Unfortunately, we're not quite sure what causes this problem here.

[2018-06-21 07:00] elbsurfer commented on #37
@fjbender I assume the session can not be restored for some reason. Can you tell me what the implications of this error are?  The user is getting a 500 error in the frontend, right? Is the order still stored in SW?

[2018-06-21 07:03] fjbender commented on #37
In this particular case here, the error occurs when the Payone platform tries to deliver the asynchronous notification ("Transactionstatus"). This means that the payment status of the order probably wasn't updated correctly. In the instance #81, the error occurred in the frontend and the reporter there describes that the order is then lost.

However, we haven't been able to systematically reproduc

[2018-06-21 12:30] elbsurfer commented on #37
I did a debug statement as follows:

[code]

The result is:

[code]

So restoreSession splits this string based on | and takes the result with key 1. So the question is, why is the session "0r983lpsrptmsgk872tqq5bvn7" not available. What reasons can this have? Does somebody needs to much time for the payment?

We have tons of these errors in our logs since a few days.

[2018-06-21 13:03] fjbender commented on #37
Thanks for the detailed info. The way we rely on the session being available is quite prone to errors, and that definitely not ideal.

Does this affect all orders or only some? Are mostly redirect payment methods (like PayPal, Sofort, Credit Card with 3D Secure, ...) affected?

[2018-06-21 13:45] elbsurfer commented on #37
I did a look through the logs again and I think I solved it on our end.

The SwagAdvancedCart plugin was, somehow, throwing errors since 2 days. Why this is the case, I do not know, because nothing as changed on our end - no deployment, no change of the environment or whatever.

But the error was this one - referer checkout is always not a good sign:
`[fcgid:warn] mod_fcgid: stderr: PHP Fatal erro

[2018-06-21 14:22] fjbender commented on #37
Okay. Get back to me anytime if anything new arises.

[2018-06-26 13:35] chess-levin opened #204 "Plugin exposes CC Data by using GET-Parameter"
Tested on Shopware 5.3.7 und PayOne 3.8.2

```https://secure.pay1.de/client-api/?request=creditcardcheck&responsetype=JSON&mode=test&mid=40311&aid=40509&portalid=2029021&encoding=UTF-8&storecarddata=yes&hash=aee55c5dddd08dd915567b05074b96ee&cardpan=4111131010111111&cardexpiremonth=12&cardexpireyear=2018&cardtype=V&channelDetail=payoneHosted&cardcvc2=123&callback_method=PayoneGlobals.callback```

T

[2018-06-26 13:52] fjbender commented on #204
Thank you for your feedback. In general, I share your arguments. Credit card data should always be handled in the safest way possible.

The GET request payload itself is encrypted, as the encryption is taking place on the Transport Layer. The entire communication between the customer's web browser and our platform thus is secure to the extend of state of the art principles.

CWE-598 is, however, n

[2018-07-10 10:03] plivinskiy commented on #37
Hello,
the problem is in the sessionID you should use temporaryID from the table s_order to restore the order, because the sessionID can be deleted if user click on logout or session is expired.

[2018-07-11 11:15] #204 closed

[2018-07-17 07:33] MarcoBecker opened #207 "amazon-pay: Errors beim Redirect zurück auf den Shop"
Hallo.

Wir haben nach wie vor Probleme mit amazon-pay. Aktuell bekommen wir in der Browser-Konsole die Error-Meldungen vom angehängten Screenshot angezeigt.
![amazon-pay-error](https://user-images.githubusercontent.com/886888/42802864-6f1fd696-89a4-11e8-8631-708a605af25d.png)

Beste Grüße
Marco

[2018-07-17 08:43] fjbender commented on #207
Der 503er deutet auf ein serverseitiges Problem hin. Gibt es ein entsprechendes Exception Log in var/log?

[2018-07-17 09:02] MarcoBecker commented on #207
Wenn ich von Amazon auf den Shop zurück geleitet werde, bekomme ich im core_production.log folgendes angezeigt:

[2018-07-17 10:59:26] core.CRITICAL: email: Bitte geben Sie eine gültige E-Mail-Adresse ein email: Bitte geben Sie eine gültige E-Mail-Adresse ein  [] {"uid":"0e1ad88"}
[2018-07-17 10:59:26] core.CRITICAL: email: Bitte geben Sie eine gültige E-Mail-Adresse ein email: Bitte geben Sie ein

[2018-07-17 09:12] fjbender commented on #207
Ich würde gerne zunächst durch unseren Technical Support einmal prüfen lassen, ob an der API-Kommunikation alles glatt geht - bitte wende dich dazu einmal an tech.support@bspayone.com oder +49 431 25968-500.

Danke
Florian

[2018-07-18 12:44] MarcoBecker commented on #207
Hi Florian.

Habe mich an den Tech-Support gewendet. Weiter gekommen sind wir hier aber leider nicht:

Sehr geehrter Herr Becker,
vielen Dank für Ihre Rückmeldung.
Das von Ihnen beschriebe Problem konnten wir nicht nachstellen.
Da an der API-Kommunikation kein Fehler festgestellt werden kann würden wir ein Support Ticket für Sie anlegen und dieses durch unser Produkt Management bearbeiten lassen.

[2018-07-18 13:36] fjbender commented on #207
Ok, dann können wir das schon mal ausschließen. Kannst du mir die URL vom Shop mal an integrations@bspayone.com schicken? Dort sollte Amazo Pay im Testmodus auch aktiviert sein, damit ich schauen kann.

[2018-08-15 13:55] elbsurfer commented on #37
@fjbender Behebt die Version 3.9.0 des Plugins diesen Fehler?

[2018-08-16 13:54] fjbender commented on #37
@elbsurfer Nicht wissentlich - wir haben an dieser Stelle nichts bearbeitet, da immer noch die Möglichkeit zur systematischen Reproduktion fehlt.

[2018-08-16 15:01] fjbender commented on #37
@elbsurfer

I still couldn't reproduce the issue here with 10 Minutes waiting time before completing the PayPal checkout.

However, I suppose that in a real life scenario with traffic on the shop the garbage collection kicks in and removes the session, so that we can't use it anymore to finalize the order. Maybe it's possible that you fiddle with the garbage collection settings to increase the tim

[2018-08-21 09:34] isd-maddin opened #213 "Incomatibility with NETINVENTORS PrePaid Plugin"
Hi,

we do get this fault if Payone 3.9.0 and NETINVENTORS PrePaid Plugin (v1.2.9) are installed: [Mon Jul 30 11:30:38.843718 2018] [fcgid:error] [pid 41732] mod_fcgid: process /var/www/web1/conf/php5/php-fcgi-starter(51238) exit(communication error), get unexpected signal 11

The customer cannot use the basket and cannot buy anything. We use Shopware 5.4.3.

Thanks for help!!

[2018-08-21 10:03] fjbender commented on #213
The PrePaid Plugin is encrypted using IonCube, we can't help here. I'm sorry.

[2018-09-04 06:09] freddydevio opened #219 "payone_service does not exist"
Hallo,

wir wollen die capture Funktion des payone_services nutzen der eigentlich im Plugin bereitgestellt wird. Allerdings bekommen wir die DI Container Fehlermeldung dass dieser Service nicht existiert.
Aufgerufen wird das ganze normal über den Container "Shopware()->Container()->get('payone_serivce')".

Gibt es hier eine Lösung zu dem Problem? Ich vermute mal, dass die Klasse bzw. die Ressource

[2018-09-04 07:44] fjbender commented on #219
Wir haben den Service mit #131 als Service definiert. Er wird [hier](https://github.com/PAYONE-GmbH/shopware-5/pull/131/files#diff-296359e7d4b57d4b43eb454b21a5abe4) registriert. Nach der [Doku](https://developers.shopware.com/developers-guide/services/#registering-the-service) sollte der Service allerdings über die services.xml registriert werden.

Vielleicht brauchen wir vielleicht nur eine `Reso

[2018-09-04 07:47] smartwebtools commented on #219
Aktuell wird das InitRessource Event registriert mit entsprechender Service Klasse als Return Wert. Das sollte meines Wissens auch so klappen.
Ich befürchte, dass das Problem eher ist, das die Klasse unter keinem eigenem Namespace ist und durch die Plugin Bootstrap in einem Class Autoload überhaupt erst geladen ist. Aber zu einem Zeitpunkt der Service Deklaration dieser Namespace gar nicht vorherr

[2018-09-04 09:10] fjbender commented on #219
Hast du einen konkreten Vorschlag? Ich weiß grade nicht so genau, was der Autoloader so braucht, um die Klasse zu finden. Ansonsten lasse ich gern mal einen Entwickler drauf schauen.

[2018-09-12 17:36] shyim commented on #219
[code]

Sollte das problem lösen

[2018-09-14 09:20] mfritsche-dotsource opened #221 "Klarna: Fehler bei Bestellungen mit Einzelartikel und Bundle"
Hallo,

im Zusammenhang mit Bundles kommt es mit der Payone Version 3.9.0 zu einem Fehler bei der Bezahlung über Klarna.

Folgendes Szenario:
Ein Kunde legt im Shop einen Einzelartikel mit der Artikelnummer SW0001 in den Warenkorb. Dann findet er ein Bundle, welches neben anderen Artikeln auch das soeben in den Warenkorb gelegte Produkt SW0001 enthält und legt auch dieses in den Warenkorb. Auf der

[2018-09-14 10:53] hreinberger commented on #221
Hallo @mfritsche-dotsource
Klarna lässt tatsächlich keine Artikel mit identischen Artikelnummern in unterschiedlichen Zeilen der Bestellung zu. Der Klarna-interne Fehler dafür lautet _9239 | notuniqueartnosoninvoice_ - wir mappen diesen auf unseren eigenen Fehler 1610.
Damit solche Bestellungen also durchgehen, müssten die Bestellzeilen so aufgebaut werden, dass Artikel mit identischer Artikelnumm

[2018-09-14 10:55] mfritsche-dotsource opened #222 "AmazonPay: Inkonsistente Bestellnummer im Backend und Bestellbestätigungs Email"
Hallo,

bei der Zahlung mit AmazonPay tritt ein Fehler bezüglich der Bestellnummern auf. In der Bestellbestätigung steht eine um 1 höhere Bestellnummer als im Shop Backend unter Bestellungen ersichtlich ist.

Bsp: Eine Bestellung mit der Bestellnummer 2001 im Backend wird in der Bestellbestätigung als 2002 angegeben.

Meine Vermutung ist, dass dies mit der Art der Abarbeitung des Prozesses zusamme

[2018-09-17 06:39] fjbender commented on #222
Hm. Ich habe da jetzt auf die Schnelle keine Idee, wie man das lösen könnte. Was ist denn Shopware-Best-Practice bei reservierten Bestellnummern? Das Problem müsste ja bei mehreren Zahlungsarten auftreten. Bei den Meisten arbeiten wir da ja mit der berühmt-berüchtigten mopt-Nummer als Pseudoreferenz, einige Zahlungsarten benötigen aber die tatsächliche Ordernummer als Referenz.

[2018-09-24 12:56] r-langenfeld commented on #222
Das Ändern der Bestellnummer passiert meiner Meinung nach viel zu spät., Da abhängige Plugins die sich an saveOrder hängen, die falsche Bestellnummer verarbeiten.

Anstelle von diesem Code:
[code]
sollte ggf. die Methode `$my_sOrder->sGetOrderNumber()` via Hook überschrieben und die zuvor generierte Bestellnummer zurückgeben werden, anstatt eine neue generieren zu lassen und diese dann im Nachgang

[2018-09-24 13:14] fjbender commented on #222
Danke für den Hinweis, das wird uns weiterhelfen! Wir schauen uns das mal genauer an (SW-183).

[2018-09-27 11:21] kuschneider opened #226 "no netto prices using paypal as payment method while using swag business essential plugin"
Setting up an b2b shop with payone using paypal as payment method doesn't work correctly.

s_core_customergroup setup a group with "tax"=0 (deactivates showing brutto prices in storefront)

After placing an order the columns "net" and "taxfree" of the s_order table are 0 | 0, they should be 1 | 0, because of it's a customer group which shows netto prices in storefront but needs to display taxes at

[2018-09-27 13:19] kuschneider opened #227 "credit card expiry check: month december not valid at any time?"
Is this correct? In the CheckCreditCardExpiry Action:

` $cardExpireNextMonth = strtotime("01-" . ($expireMonth +1) . "-20" ."$expireYear". " " ."23:59:59");`

A expireMonth of 12 + 1 will never return a valid timestamp, so showExpiryErrorMessage will be thrown. As long as I know all credit card test data are month 12 and actual year. Or did payone change this?

[2018-09-27 15:16] fjbender commented on #226
I couldn't reproduce the problem, using the same configuration in SW 5.4.6 with Plugin 3.10.0:

[code]

Is there anything else that might be different in your setup?

[2018-09-27 15:20] fjbender commented on #227
Oh well, handling dates is difficult. However, we have a documented testcase where a month=12 credit card went through successfully. Nevertheless, this is a bug, we'll get it fixed. Thanks for the feedback!

[2018-09-28 07:41] kuschneider commented on #226
The only difference I can see at this point is that we are using shopware 5.3.5. Could you try it again with this version? Or do you have any hints at which point we can check our configuration?

[2018-09-28 08:02] kuschneider commented on #226
`

id | ordernumber | paymentID | net | taxfree | name
-- | -- | -- | -- | -- | --
363 | 30093 | 21 | 0 | 0 | mopt_payone__ewallet_paypal
360 | 0 | 21 | 1 | 0 | mopt_payone__ewallet_paypal

`
One thing we can see is, that before order is saved the net column is okay, after saveing the order it gets changed to zero :-/

[2018-09-28 10:27] schliesser opened #229 "Prepare plugin for composer installation"
Can you please add support for composer-installers?

Here are some instructions from shopware how to prepare plugins: https://github.com/shopware/composer-project#prepare-plugins-for-composer-installation

And here are the instructions how to use these plugins:
https://developers.shopware.com/developers-guide/shopware-composer/#requiring-plugins

[2018-09-28 11:53] #227 closed

[2018-09-28 12:38] fjbender commented on #229
This shouldn't be too much of a hassle, as I see it. I'll get to it after my vacation :)

[2018-09-28 12:54] fjbender commented on #226
@hreinberger Can you try and reproduce this with the Swag Business Essentials Plugin?

[2018-10-08 09:03] kuschneider commented on #226
@fjbender @hreinberger
Did you find any solution for this problem?

[2018-10-08 10:43] smartwebtools commented on #219
Hi @shyim ,
ich habe den Service  dann in meiner services.xml deklariert. Anschließend in meiner eigenen Klasse implementiert.
Allerdings bekomme ich dann den Fehler:
array (
  'error' => 'You have requested a synthetic service ("payone_service"). The DIC does not know how to construct this
Ist das die falsche Stelle?

[2018-10-11 08:14] hreinberger commented on #226
Hi @kuschneider
not yet but we're on it!

[2018-10-11 11:33] irwinbraganza commented on #37
@fjbender I am too facing this issue, occurs for me just after the succesful sofort payment and before the checkout finishAction (Thank you page) is called, here is the error:
`PHP Fatal error:  Uncaught Error: Call to a member function getArrayCopy() on null in /var/www/html/production/engine/Shopware/Plugins/Community/Frontend/MoptPaymentPayone/Controllers/Frontend/MoptShopNotification.php:79`

[2018-10-11 11:55] MrMDeluxe opened #234 "Replace-Hook wirft unter bestimmten Umständen eine Exception"
Hallo,

der Replace-Hook von sGetOrderNumber() verursacht leider Probleme mit anderen Plugins, die diese Funktion im Backend Kontext benutzen.
Denn der Zugriff auf Shopware()->Session() funktioniert bekanntlich im Backend nicht.
Da die public Core Funktion sGetOrderNumber aber keinen Kontext vorschreibt, sollte der Hook hier die Verantwortung einer Prüfung für den richtigen Kontext haben.

Durch f

[2018-10-11 12:21] irwinbraganza opened #235 "PHP Fatal error: Uncaught Error: Call to a member function getArrayCopy() on null in MoptShopNotification.php:79"
This occurs for me just after the succesfull sofort payment and before the checkout finishAction (Thank you page) is called, here is the error:

`PHP Fatal error:  Uncaught Error: Call to a member function getArrayCopy() on null in /var/www/html/production/engine/Shopware/Plugins/Community/Frontend/MoptPaymentPayone/Controllers/Frontend/MoptShopNotification.php:79`

_Originally posted by @irwinbra

[2018-10-11 13:11] hreinberger commented on #235
Hi @irwinbraganza
we could sort out some of these cases where a faulty callback URL was configured in the merchant's PMI. Could you first contact our tech support with your merchant ID so they can check if the account is configured right? tech.support@bspayone.com
thanks!

[2018-10-12 06:28] irwinbraganza commented on #235
Thank you @hreinberger will confirm the configuration and get back to you.

[2018-10-17 08:01] fjbender commented on #234
Klingt gut, wir prüfen das und übernehmen das dann wahrscheinlich.

[2018-10-17 09:01] fjbender commented on #234
@MrMDeluxe Nur zur Vollständigkeit: Mit welchem Drittplugin können wir diesen Fehler reproduzieren?

[2018-10-17 16:58] rmaassen commented on #234
Premium Gutschriften von Rhiem Intermedia GmbH.

https://store.shopware.com/rhiem20364534336/premium-gutschriften.html

[2018-10-18 07:01] irwinbraganza opened #238 "ShopwarePayone error for credit card payment in protected function validateRequest in MoptPaymentPayone/Components/Payone/TransactionStatus/Service/HandleRequest.php"
I am facing this issue in shopware version 5.5.1 and paypone plugin version: 3.11.0:
`18 Oct 2018 12:12:26.414<14>1 2018-10-18T06:42:26.379941Z 141.0.20.206 ShopwarePayone - - - [2018-10-18 08:42:26] moptPayone.ERROR: error processing request ["#0 /var/www/html/production/engine/Shopware/Plugins/Community/Frontend/MoptPaymentPayone/Components/Payone/TransactionStatus/Service/HandleRequest.php(118)

[2018-10-18 07:06] irwinbraganza commented on #238
can anyone here please help?

[2018-10-19 04:30] irwinbraganza commented on #238
Thank you @hreinberger, After talking to tech support team it seemed to be the issue with request been manupulated by your proxy/load balancer/caching system ( in our case cloud flare) we faced. fixed it by disabling it :) Closing this issue.

[2018-10-19 04:30] #238 closed

[2018-10-23 10:44] rmaassen commented on #234
@fjbender wie ist denn hier der Status?

[2018-10-23 13:56] fjbender commented on #234
Wir arbeiten noch dran, im Zuge der Analyse ist noch ein andere Bug mit Hooks aufgefallen, den wir gleich mit reparieren wollen.

[2018-10-29 07:54] hreinberger commented on #222
Dürfte mit #225 behoben sein!

[2018-10-29 07:54] #222 closed

[2018-11-08 07:31] #234 closed

[2018-11-23 21:00] Besselink opened #247 "$. ... is not a function / Can't select Payone in Checkout"
With browsers using the Blink rendering engine (Google Chrome, etc.) we sometimes see in the checkout that Payone (credit card) can not be selected due to Javascript errors ($. ... is not a function).

[2018-11-27 07:42] fjbender commented on #247
Usually, we see that problem when asynchronous JavaScript is enabled - this should have been fixed with #148.

Can you describe your settings with more detail? Can this be systematically reproduced?

[2018-11-27 12:51] MrMDeluxe opened #248 "Automatische Korrektur in der Adressüberprüfung verursacht Netto Bestellungen"
Hallo,

das Payone Plugin verursacht immer netto Bestellungen, wenn die automatische Korrektur der Kundenadressen greift.

Im Subscriber FrontendPostDispatch wird in der Funktion onPostDispatchFrontend in der Zeile
304 die Variable  $view->sUserData mit dem Rückgabewert Shopware()->Modules()->Admin()->sGetUserData(); überschrieben.
Somit wird $view->sUserData['additional']['charge_vat'] entfernt u

[2018-11-27 13:06] T-Kuchel commented on #248
Hallo @MrMDeluxe ,

vielen Dank für den Hinweis!
Wir schauen uns das direkt an und melden uns, wenn wir Ergebnisse haben.

Beste Grüße aus Kiel

[2018-11-28 08:39] fjbender commented on #247
Anything that would help us reproduce the problem:

* Async/Sync JavaScript
* Which template is used?
* Any custom hosted iFrame Configuration?
* Steps to reproduction

Thanks
Florian

[2018-11-28 09:57] Besselink commented on #247
Hello Florian,

well, we have switched to Sync Javascript yesterday. We use the standard
Shopware Theme. There are no custom hosted iFrame configurations.

The error occurred while a brand new customer after register himself select
the payment method creditcard.

Viele Grüße aus dem Alten Land

<http://goog_887243082>
<https://www.rhein-web.com>

*Ben Besselink*

Am Mi., 28. Nov. 2018 um 09:39 Uhr

[2018-11-28 14:37] #248 closed

[2018-12-02 22:57] Besselink commented on #247
Hello,

this issue is fixed by updating shopware to version 5.5.1. there are a lot
of other issues, but this is fixed.

Viele Grüße aus dem Alten Land

<http://goog_887243082>
<https://www.rhein-web.com>

*Ben Besselink*

Am Mi., 28. Nov. 2018 um 10:56 Uhr schrieb RHEIN WEB <info@rhein-web.com>:

[2018-12-02 23:47] Besselink opened #250 "Call to undefined method Shopware\\Models\\Customer\\Customer::getBilling()"
[Sun Dec 02 23:27:21.187947 2018] [proxy_fcgi:error] [pid 14143:tid 140033227749120] [client 91.32.82.190:57535] AH01071: Got error 'PHP message: PHP Fatal error:  Uncaught Error: Call to undefined method Shopware\\Models\\Customer\\Customer::getBilling() in /var/www/vhosts/softwarehexe.de/httpdocs/engine/Shopware/Plugins/Community/Frontend/MoptPaymentPayone/Subscribers/AddressCheck.php:881\nStack

[2018-12-02 23:50] Besselink commented on #250
We use Shopware 5.5.1 and Payone 3.11.0

[2018-12-03 07:41] fjbender commented on #250
This was fixed with 6215bde09614634b9b4c945ed30effdbb956b35d

[2018-12-03 07:41] #250 closed

[2018-12-12 09:16] tpierschel commented on #213
Hi, our Plugin for SW5.5.x isnt encrypted anymore.

[2018-12-12 09:18] fjbender commented on #213
@tpierschel Great! :)
@isd-maddin Can you install the unencrypted plugin and provide a more detailed error message (i.e. stack trace etc.)?

[2018-12-12 11:26] hrombach opened #252 "Ordernumbers are overwritten with payment reference"
Yesterday we updated a client's shop to v3.12.0 of the Plugin.
We noticed that the order number of all orders was being replaced by a string starting with 'mopt_' (what I would assume is a payment reference) until we enabled the option to use the shopware order number as payment reference.

In PR #245 I noticed this line: https://github.com/PAYONE-GmbH/shopware-5/pull/245/files#diff-cb93921fb53b44

[2018-12-12 12:11] hreinberger commented on #252
Hi @hrombach
thanks for pointing this out! We recently got aware of this and are working on a solution. For the time being I flagged the release as pre-production and pointed this out in the description. We're also working on rolling back to the last version in the shopware store.

[2018-12-19 07:20] hreinberger commented on #252
It took a while, but we have a solution in #254 - though due to the holiday we'll release this in 2019. The PR is tested, so if you need a quick solution this should be relatively safe to integrate.

[2019-01-03 08:32] #252 closed

[2019-01-03 09:55] fjbender commented on #229
I now got around to testing this. However, our repo structure is not compatible. It's not easily reorganized, I'm afraid.

[2019-01-15 09:41] mediagraphik commented on #234
Wie ist der momentane Status hierzu?

[2019-01-15 09:49] fjbender commented on #234
Sollte eigentlich mit #243 behoben worden sein - wir prüfen allerdings zur Zeit, ob das Problem nach #254 wieder auftritt.

[2019-01-29 14:27] rofthedeep commented on #219
@smartwebtools hast du dafür mittlerweile eine Lösung gefunden? Ich würde auch gerne darauf zugreifen, bekomme aber den gleichen Fehler.

[2019-02-05 16:35] hreinberger commented on #226
OK so we were finally able to reliably reproduce this issue and attemped a fix with #263 - can you try that out? We also found a kinda related bug with Paypal Express which should be fixed in #262

[2019-02-07 13:04] #226 closed

[2019-03-05 10:02] tpierschel commented on #154
Had the same issue twice.

[2019-03-05 11:48] T-Kuchel commented on #154
Hello @tpierschel ,

we will investigate on this issue, and come back to you if we have any feedback or solutions.

Regards
Timo

[2019-03-14 10:08] #41 closed

[2019-03-18 09:45] rofthedeep opened #275 "Js Fehler bei Wechsel zwischen Kreditkarten"
Hallo zusammen,

im Frontend wird beim Wechsel der Kreditkarte immer ein JS Error geworfen:

![Bildschirmfoto 2019-03-18 um 10 42 56](https://user-images.githubusercontent.com/2420176/54521261-da56e680-496a-11e9-9fa3-d1184839e399.png)

Der Fehler wird wohl in der payone_hosted_min.js Datei geworfen, auf die man hier keinen Einfluss hat.

[2019-03-19 13:26] fjbender commented on #275
Moin,

ich kann das hier auf einem Testsystem nicht reproduzieren - vielleicht liegt's an einer Einstellung in der "Hosted iFrame" Konfiguration im Plugin, aus der Konfiguration wird dann ein JS-Objekt erzeugt, was der payone_hosted_min.js übergeben wird und dort Fehler erzeugen kann (was eigentlich nicht vorkommen sollte).

Eine un-minified Version des von uns gehosteten JS findest du hier: https

[2019-03-22 11:34] mfritsche-dotsource opened #277 "Shopware Security Fix Session Fixation"
Hallo,

im Zuge der Sicherheitsupdates von Shopware kommt es nun zu einem unerwarteten Verhalten mit der zahlart Sofortüberweisung.
Der durch das Sicherheitsplugin 1.1.14 und in Shopware >= 5.5.7 behobene Fehler führt beim Einsatz von Sofortüberweisung bei der Rückleitung in den Shop zu einer direkten Umleitung auf die Shop Startseite ohne auf die Bestellabschlussseite zu kommen.

Folgender Code a

[2019-03-25 13:46] hreinberger commented on #277
Hallo @mfritsche-dotsource,

wir haben das intern angeschaut und werden hier unser Vorgehen an die Empfehlung von Shopware anlehnen. Ab Shopware 5.6 nutzen wir dann den PaymentToken Subscriber und in Versionen darunter eine Lösung innerhalb des Plugins. PR folgt. :)

[2019-03-25 14:42] MJPese commented on #275
In unserem Shop tritt das Problem auch auf, ich kann es aktuell aber auch nicht wirklich eingrenzen. Auf framily.de ein Buch konfigurieren und versuchen, mit Kreditkarte zu bezahlen. Ich habe bereits testweise alle Anpassungen in der iframe-Konfiguration entfernt, aber ohne Erfolg

[2019-03-26 14:29] FramilyTeam commented on #275
Hi @rofthedeep,

hat sich bei dir in der Zwischenzeit etwas ergeben?

[2019-03-26 14:31] FramilyTeam commented on #275
Moin @fjbender,

hat Payone sich weiter mit diesem Thema beschäftigt?

[2019-03-26 14:42] hreinberger commented on #275
Hi @FramilyTeam
der Fehler ist für uns schwierig einzugrenzen, weil wir ihn auch mit mehreren Konfigurationen bisher nicht nachvollziehen konnten. Das Thema könnte also mit einer individuellen Serverkonfiguration oder Customizing im Shop zusammenhängen. Bitte wendet euch einmal an unseren tech support (falls nicht schon geschehen). Die Kollegen können eure individuelle Konfig anschauen und dann gg

[2019-03-26 15:13] FramilyTeam commented on #275
Hi @hreinberger,

vielen Dank für die schnelle Antwort. Die von dir vorgeschlagenen Schritte haben wir zwischenzeitlich schon hinter uns lassen können. Selbst in den Standardeinstellungen sind Zahlungen per Kreditkarte nicht möglich.

Wir befinden uns mitten im Ostergeschäft und benötigen dringend eine Lösung.

[2019-03-26 15:53] rofthedeep commented on #275
@FramilyTeam in meiner lokalen Testumgebung tritt der Fehler weiterhin auf. Auf unserer Abnahmeumgebung jedoch nicht ...
Wird in irgend einer Form ein Request von Payone an die Umgebung geschickt und kann das evtl. nicht aufgelöst werden?

[2019-04-04 20:12] fjbender commented on #275
Hi @FramilyTeam, wenn's weiter pressiert, meldet euch bitte noch einmal beim Technical Support und wir vernetzen euch direkt mit den Entwicklern des Plugins, dann schauen die sich das direkt in eurem System an (Disclaimer: Das ist ne Leistung, die die direkt mit euch abrechnen würden, außer es ist ein Bug bei uns im Modul).

[2019-04-17 09:46] #277 closed

[2019-04-25 13:47] annonyme opened #289 "RiskRules aus eigenen Plugins werden unterdrückt"
in AdressCheck.php Zeile 105 wird geprüft ob die RiskRule als Method in der sAdmin.php existiert. Das ist bei allen mitgelieferten Rules der Fall aber nicht bei den selbst implementierten aus den eigenen Plugins. Daher wird dann kein Event ausgelöst und die eigene Rule nie angesprochen (dadurch werden Zahlungsmethoden teilweise nicht deaktiviert).
Wenn man diese Prüfung entfernt, werden die eigene

[2019-04-29 13:30] hreinberger commented on #289
For future reference die genaue Stelle: https://github.com/PAYONE-GmbH/shopware-5/blob/8c92feaefb58ebc14a19023d6b33b23d0b23e461/Frontend/MoptPaymentPayone/Subscribers/AddressCheck.php#L105

vielen Dank @annonyme schauen wir uns an!

[2019-04-29 13:50] hreinberger commented on #289
Jetzt erst gesehen, wir haben in https://github.com/PAYONE-GmbH/shopware-5/pull/264 bereits ein ähnliches Thema gefixt.
Habt ihr das Verhalten mit dem aktuellen Master reproduzieren können?

[2019-04-29 15:10] annonyme commented on #289
Teste ich Donnerstag mit dem Master. Aber der Fixt sieht an sich schon mal gut aus.

[2019-05-02 08:57] #289 closed

[2019-05-02 08:58] annonyme commented on #289
Hat damit funktioniert. Wir gucken, ob wir nun mit dem Master auf dem Repository weiterarbeiten und nicht mehr mit der Version aus dem Community-Store.

[2019-05-02 09:13] hreinberger commented on #289
super, das freut mich! Wir sind gerade im Releasetest für die nächste Version auf dem Community Store - lange dauert es also nicht mehr, bis das Update auch offiziell im Store landet. Wenn ihr mit dem master weiterarbeiten wollt, geht das natürlich auch.
Wir testen jeden PR automatisch und händisch durch, bevor wir mergen. Das Zusammenspiel der Features im Master wird allerdings erst mit einem neu

[2019-05-08 07:30] danielDigitalArt opened #296 "Possibility to disable Creditcard Grouping"
We are trying to include the Plugin into a customer shop where we have a custom plugin running. This Plugin also uses the Shopware Hook "GetPaymentMeans" to recive the currently available Payments, pretty much like Payone does. In the later Process this list is then Filtered so only some of these Payment Methods are shown to the User.

The Problem is that the Payone Plugin seems to group Payment M

[2019-05-08 14:46] fjbender commented on #296
Without diving in the details: Wouldn't this leave the user with individual payment methods for the brands, e.g. Visa and Mastercard being different methods, although their are perceived by users as being subtypes of the same method "card"?

[2019-05-08 15:08] danielDigitalArt commented on #296
Hi,

yes i think that is what would happen then. The only other option that i could come up with would be to have a new Event to be fired from the Payone Plugin when the grouping of Payment Methods have taken place so other Plugins can Subscribe to this event and get the grouped Payment array to work on.

The thing is, that the shopware-hook does not seem to recognize a priority value as an additi

[2019-05-09 07:11] fjbender commented on #296
Firing an event sounds like a viable approach. I suppose it would be somewhere around `\Shopware\Plugins\MoptPaymentPayone\Subscribers\Payment::onGetPaymentMeans`:

https://github.com/PAYONE-GmbH/shopware-5/blob/b9409aae8d323851538c08a4c844f0b2db8a9385/Frontend/MoptPaymentPayone/Subscribers/Payment.php#L230-L258

We then should hand over the `$paymentMeansWithGroupedCreditcard` somewhere.

However

[2019-05-10 09:36] danielDigitalArt commented on #296
Ok, i created a PR for this:
https://github.com/PAYONE-GmbH/shopware-5/pull/298

[2019-05-14 11:59] #296 closed

[2019-07-15 05:35] KevinHansenAgire opened #308 "Kürzung Produktname nicht multi-byte safe"
Bei der Übermittlung des Produktnamens an Payone (create order) wird der Name auf 100 Zeichen gekürzt. Diese Kürzung erfolgt nicht multi-byte safe, sodass z.B. ein "ß" einen Fehler mit nicht erlaubten Steuerzeichen bei Payone verursacht. Der Kunde wird auf die Fehlerseite weitergeleitet und der Abschluss der Bestellung ist nicht möglich.

Verursacher scheint die Datei \shopware-5-master\Frontend\M

[2019-07-15 08:15] fjbender commented on #308
Danke für den Hinweis, ich habe einen entsprechenden PR erstellt.

[2019-07-17 14:13] #308 closed

[2019-07-24 09:59] tobiasteatox opened #311 "CC Validation Date Error"
When validating the iFrame response from payone in

[code]

The result of response.cardexpiredate can not be set due to a missing type attribute of the corresponding input field.

Please add type="hidden" to

[code]

Tested in Shopware 5.5.5

[2019-07-24 12:45] #311 closed

[2019-07-25 07:53] annonyme opened #312 "JavaScript Fehler mit IE11 bei Auswahl für eine Kreditkartenzahlung"
Hallo,
einem Kunden mit IE11 fiel der Fehler auf, dass Kreditkarten-Informationen nicht ausgewertet werden, also keine Validierung oder Übernahme stattfindet. Er wird einfach weiter geleitet und behält die vorher schon genutzte Zahlungsart.
Ich konnte mit IE11 unter Win7 den Fehler "Object doesn't support property or method 'moptPayoneIbanBicValidator'" reproduzieren.

![VirtualBox_IE11 - Win7_25_

[2019-07-29 14:20] #275 closed

[2019-07-29 14:27] hreinberger commented on #312
Hi @annonyme
ich kann das leider noch nicht wirklich nachvollziehen. Auf Win10 mit dem IE11 scheint da alles richtig zu laufen. Wie kann ich das Problem reproduzieren?

[2019-07-30 07:57] annonyme commented on #312
Hallo,
ich kann es auch auf dem IE11 mit Win10 reproduzieren. Ich gehe dabei so vor:

- Artikel in den Warenkorb legen
- zum Checkout gehen über den Warenkorb
- Einloggen
- Im Checkout die Zahlungsart ändern
- Da Kreditkarte auswählen
- Irgend einen Scheißt eingeben und auf "weiter" klicken

Dann lange ich wieder mit der urspünglichen Zahlungsart im Checkout-Confirm.
[pw5x7CH1CW.zip](https://githu

[2019-08-01 15:25] hreinberger commented on #312
Echt seltsam. Ich bekomme es auch mit diversen Varianten von Einloggen vor/nach Warenkorb und beliebigen ausgewählten Zahlungsarten nicht reproduziert. (auf SW 5.5.8 mit Plugin Version 3.13.0, Win 10 1803 und IE11 11.885.17134.0)
Bitte wende dich einmal an die Kollegen vom Tech Support (tech.support@bspayone.com) - die würden sich einmal die Konfig des Shops anschauen und zur Not den Prozess für i

[2019-08-01 16:55] annonyme commented on #312
Ich werde erst einmal anstoßen von 5.5.7 auf eine aktuellere Version zu kommen. Sollte das nicht helfen, werden wir uns dann den Tech-Support wenden.

Danke für die Hilfe.

[2019-09-16 14:13] hreinberger commented on #207
closing this due to non-activity. If this is still an issue, please re-open or create a new one.

[2019-09-16 14:13] #207 closed

[2019-09-16 14:13] hreinberger commented on #235
closing this due to non-activity. If this is still an issue, please re-open or create a new one.

[2019-09-16 14:13] #235 closed

[2019-09-16 14:14] hreinberger commented on #213
closing this due to non-activity. If this is still an issue, please re-open or create a new one.

[2019-09-16 14:14] #213 closed

[2019-09-16 14:17] hreinberger commented on #150
closing this due to non-activity. If this is still an issue, please re-open or create a new one.

[2019-09-16 14:17] #150 closed

[2019-09-23 12:58] hreinberger commented on #312
geschlossen wegen Inaktivität. Wenn das Thema noch besteht, melde dich gerne nochmal!

[2019-09-23 12:58] #312 closed

[2019-10-17 10:51] rofthedeep opened #324 "onUpdateAddress überschreibt Adressvalidierung"
In der Klasse "AddressCheck" wird auf "Shopware_Controllers_Frontend_Address::ajaxSaveAction::after" ein Hook onUpdateAddress aufgerufen.

![Bildschirmfoto 2019-10-17 um 12 29 22](https://user-images.githubusercontent.com/2420176/67001376-dc884b80-f0d9-11e9-81a6-942213cee018.png)

Dieser Hook führt leider dazu, dass invalide Adressen abgespeichert werden.

Wir haben im System zusätzliche Validator

[2019-10-17 11:47] fjbender commented on #324
Wir prüfen das mal. Ich befürchte aber, dass wir die ohnehin fragile Logik für die Adressverifikation und Boniprüfung dafür anfassen müssten. Das riecht nach recht viel Aufwand.

@Anton-Levitsky schau doch hier mal drauf (irgendwie kann ich dich nicht assignen)

[2019-10-17 12:26] rofthedeep commented on #324
Alles klar, danke! Eine erste Möglichkeit wäre evtl. auch schon, den Code nur auszuführen wenn die Adressvalidierung / Bonitätsprüfung aktiviert ist. Dann kann der Fehler zumindest schon mal nur noch für die Personen auftreten, bei denen dieser Teil aktiv ist.

[2019-12-04 11:30] SirUrban opened #333 "Problem with SSL-check in loadbalanced environment"
Hi,

there are two templates with an if-clause checking if the request is ssl encrypted:
* Frontend/MoptPaymentPayone/Views/frontend/checkout/ajax_cart_amazon.tpl
* Frontend/MoptPaymentPayone/Views/frontend/checkout/mopt_cart_amazon.tpl

This is done by checking the `$smarty.server.REQUEST_SCHEME` variable.
It does not work in setups where you have several app-servers behind a loadbalancer cause q

[2019-12-04 11:36] Bugfighter commented on #333
Good suggestion in my point of view!

[2019-12-04 12:14] hreinberger commented on #333
Thanks for the in-depth suggestion! Did you already solve this topic for your customer? If so, feel free to add a pull request. If not we'll fix this on our own, but will get back to you for further testing. Our internal testing stack doesn't use any load balancing setups, so it will be difficult for us to test internally.

[2019-12-04 12:40] SirUrban commented on #333
The customer ist just testing it. I will wait for feedback and will add a pull-request soon.

[2019-12-12 08:43] RQqrwTfK3uV5 opened #336 "Missung function moptShowGeneralIFrameError"
When creditcard payment uses the hosted iFrame solution and nothing else then the Credit card type is selected, after the submit a javascript error due to en undefined function is thrown:

Uncaught ReferenceError: moptShowGeneralIFrameError is not defined

See: engine/Shopware/Plugins/Community/Frontend/MoptPaymentPayone/Views/frontend/_resources/javascript/mopt_payment.js:545

Tested with Shopwar

[2019-12-12 12:18] hreinberger commented on #336
Hi, this should have been fixed by #321 which will ship in the next release. Can you try out the current master and confirm?

[2019-12-18 11:51] #333 closed

[2020-01-06 13:40] RQqrwTfK3uV5 commented on #336
Sorry for the late response.

Yes this fixes the issue.

[2020-01-06 13:52] #336 closed

[2020-02-10 10:40] SirUrban opened #342 "Wrong link on release page"
Hi,

it's nice that you mentioned me on your release page due to my ssl detection improvement. But could you please check the link on my name? it's wrong ;-) and points to some different "andreas".

Thx!

[2020-02-10 11:11] hreinberger commented on #342
Whoops this got lost in transalation 😃  Just changed it to your actual username.

[2020-02-10 11:11] #342 closed

[2020-03-03 11:28] elbsurfer opened #346 "Disable Amazon Payment / Amazon Payment Cookie?"
Hello,
I am using Shopware 5.6.4 and the latest version of the PayOne Plugin. In the Cookie Consent Manager I do see this: https://drop.torben.me/Screen-Shot-2020-03-03-12-26-59.png

We do not use Amazon Payments neither have this payment method activated. How can I disable the cookie/the information in the cookie consent manager? When I look through the code, it seems to be hardcoded.

Is there a

[2020-03-03 12:44] T-Kuchel commented on #346
Hi @elbsurfer ,

thank you for this useful hint. We are always testing with all methods on. So this issue accidentally was not in the focus.

There was no plan to do this, but yet > of course ;-)

Regards
Timo

[2020-03-03 13:28] elbsurfer commented on #346
@T-Kuchel Thanks for your quick action. Do you know if you can include it in the next release and and approximate time when this will be released?

[2020-03-03 14:50] T-Kuchel commented on #346
Hi @elbsurfer ,

our next regular shopware 5 plugin release is planned at the end of April.
I think we can assure that the fix for this issue will be included.

Regards
Timo

[2020-04-01 10:02] mfritsche-dotsource opened #358 "Payone Klarna no birthyear above 1999 available"
Hello,
when using Payone Klarna as payment mean you have to submit your birthdate. Unfortunately it isn't possible to choose a year greater than 1999. In Germany the legal age for making contracts is 18 so it should be at least possible to choose the year 2002.

The corresponding code part can be found in views/frontend/plugins/payment/mopt_paymentmean_klarna.tpl:

[code]
There the loop for the ye

[2020-04-01 10:51] fjbender commented on #358
I proposed a fix and will move it to QA

[2020-04-16 13:18] torbentschechne opened #360 "Unknown column 's0_.auto_cardtype_detection'"
Hello,
I have updated the PayOne Plugin for shopware and to 4.2.1 and receive this error in the checkout or when I open the credit card configuration table in the backend:

[code]

I also reinstalled the plugin, but the column is still not there. Can you assist? What is happening here - are the models not refreshed when I reinstall the plugin?

[2020-04-16 13:20] fjbender commented on #360
That's a known bug and has been fixed in #350

[2020-04-16 13:21] elbsurfer commented on #360
@fjbender But not released yet, has it? So I need to manually merge the PR?

[2020-04-16 13:22] fjbender commented on #360
Yup. A new release is due for the next two weeks.

[2020-04-16 13:43] #358 closed

[2020-04-16 18:46] elbsurfer commented on #360
@fjbender Okay, thanks.

There is another error I get, it's this one:
[code]

It seems that this only happens with some credit card payments, but I am not 100% sure. I looked in the code and can see that the shop is not retrieved. But in which cases can this happen?

[2020-04-17 06:23] fjbender commented on #360
This can have multiple reasons, which can't really be diagnosed here. I'd recommend you'd contact our technical support team about this and provide more details (e.g. Shopware Version, Transaction IDs etc.)

[2020-04-18 09:25] bragento opened #361 "submit basket in combination with premium items throw error"
hello,

we have a problem with premium goods or say free items.  Steps to reproduce:
1. use Paypal Sandbox Account.
2. in payone configuration activate "basket handover" to yes
3. configure free items in Shopware Backend Menu "Marketing > Premium Items"
4. try to submit order with free items

In our case basket looks like
![basket](https://user-images.githubusercontent.com/4529135/79633249-91bcbe8

[2020-04-20 06:30] hreinberger commented on #361
Hi @bragento
the PayPal Endpoint we're talking to is picky about cart items without prices. Having just one item with amount=0 in your cart will let paypal transactions fail. You can mitigate this by deactivating "Warenkorbübergabe" in your PAYONE Settings:

![grafik](https://user-images.githubusercontent.com/40197225/79720507-fb61d780-82e0-11ea-8999-9ba930de23f4.png)
If you use other payment meth

[2020-04-20 07:39] bragento commented on #361
Hi @hreinberger you mean, your Implemation about "basket handover" is wrong? If this is not working why is there this option for paypal or no hint in documentation?

[2020-04-20 07:54] hreinberger commented on #361
AFAIK PayPal is the only payment method in our portfolio that's this picky about items having an amount of 0. We're trying to accommodate as many possible configurations as possible. Having cart items show up in your PayPal checkout is a nice feature for many merchants, but if your individual configuration involves cart items with amount=0, you'll have to deactivate this.

We could however make th

[2020-04-30 13:42] fjbender commented on #324
#354 sollte das Problem nun endlich fixen. Für uns sieht das okay aus. Magst du auch noch mal schauen?

[2020-06-16 12:19] #324 closed

[2020-07-06 13:22] christian-jbc opened #378 "Paymentstatus is zero"
When someone pays with Visa or Mastercard, the paymentstatus is set to "0" instead of "Komplett bezahlt" as set in the Payone Settings.

- Shopware 5.5.10
- PayOne 4.2.2

![zahlungsstatus](https://user-images.githubusercontent.com/66314750/86597599-40221400-bf9c-11ea-85db-3aa025e529e6.png)
![payone_kontrollzentrum](https://user-images.githubusercontent.com/66314750/86597595-3f897d80-bf9c-11ea-8adf

[2020-07-06 13:41] T-Kuchel commented on #378
Hi @christian-jbc ,

please get in contact with our technical support team(tech.support@payone.com).
Maybe another configuration is colliding here. They could help you with your configuration export, which you don't want to expose here ;-)

Regards from Kiel
Timo

[2020-07-08 13:01] T-Kuchel commented on #346
fixed with latest release

[2020-07-08 13:01] #346 closed

[2020-08-21 12:04] markushuemmer opened #382 "Automatic Refund"
Hello is it possible to refund/credit automatic from Shopware to Payone?

[2020-08-21 12:46] #382 closed, assigned to nobody

[2020-09-10 21:30] rofthedeep opened #385 "Falscher Subshop nach Rückleitung in den Shop von Paypal / Kreditkartenverifizierung"
Hallo zusammen,

aktuell beobachte ich ein seltsames Verhalten nach Rückleitung in den Shop von PayPal / der Kreditkartenverifizierung.

Der Fehler tritt auf, wenn ein **Subshop** verwendet wird.

Die Rückleitung erfolgt über folgende Controller Actions, jeweils auf die URL des Subshops:

1. \Shopware_Controllers_Frontend_MoptPaymentPayone::successAction (Shop ID passt - in unserem Fall die 3 des

[2020-09-10 21:30] rofthedeep opened #386 "Falscher Subshop nach Rückleitung von PayPal / Kreditkartenverifizierung"
Hallo zusammen,

aktuell beobachte ich ein seltsames Verhalten nach Rückleitung in den Shop von PayPal / der Kreditkartenverifizierung.

Der Fehler tritt auf, wenn ein **Subshop** verwendet wird.

Die Rückleitung erfolgt über folgende Controller Actions, jeweils auf die URL des Subshops:

1. \Shopware_Controllers_Frontend_MoptPaymentPayone::successAction (Shop ID passt - in unserem Fall die 3 des

[2020-09-15 11:51] hreinberger commented on #385
Hi @rofthedeep
wir schauen uns das Thema gerade mal an und melden uns bei Neuigkeiten.

[2020-09-15 11:53] rofthedeep commented on #385
@hreinberger Danke dir - melde dich gerne, falls ich noch weitere Infos liefern oder unterstützen kann ...

[2020-09-15 12:35] hreinberger commented on #386
Duplikat von #385

[2020-09-15 12:35] #386 closed

[2020-09-22 13:53] floatingbits opened #387 "ajaxGetPaySafeToken fails Payone Klarna Payments"
On the ShippingPayment-Action page, when I use Payone Klarna Payments method, after checking the agreement checkbox, a call to /MoptAjaxPayone/ajaxGetPaySafeToken is sent, but fails with the following error message:

[code]

I think this line
`$this->Response()->headers->set('content-type', 'application/json');`

must actually be
`$this->Response()->setHeader('content-type', 'application/json', tr

[2020-09-22 13:56] fjbender commented on #387
Thanks for the report. This is a known issue that only occurs in Shopware <5.6, as Shopware changed the behavior there. We are already working on a fix.

[2020-09-23 12:56] fjbender commented on #387
#388 should fix this issue and will be moved to QA now

[2020-09-24 10:57] markusmichalski-fc commented on #385
Hallo @rofthedeep,
wir haben uns das angesehen und konnten es in keiner unseren Umgebungen nachstellen.

Wir könnten uns das direkt auf Ihrem Server ansehen, aber würden hierfür einen Supportauftrag benötigen. Diesen finden Sie hier: https://www.fatchip.de/out/media/FC_Payone_Plugin_Supportauftrag_Formular.pdf

Mit freundlichen Grüßen

Markus Michalski
Leitung Support
Fatchip GmbH

[2020-09-25 07:44] luckyduck opened #390 "Payment method credit cart doesn't show additionalDescription any more"
Our team is working on a shopware 5 project which relies on payone to accept credit card payments. After an update from probably 4.2.2 to 4.3.0, the additional description including the logo is now only visible when you select credit card as payment method and then VISA as card explicitly. To see how the checkout looks now, see now.png.

![now](https://user-images.githubusercontent.com/400837/9424

[2020-09-30 07:38] rofthedeep commented on #385
@markusmichalski-fc Danke! Ich kläre das mit dem Kunden ab und melde mich ggf.!

[2020-09-30 11:50] #387 closed

[2020-10-06 07:53] hreinberger commented on #385
Ich mache hier mal zu wegen Inaktivität. Wenn das Problem noch besteht, meldet euch gerne nochmal.

[2020-10-06 07:53] #385 closed

[2020-10-06 07:55] #361 closed

[2020-10-06 08:06] hreinberger commented on #390
Hi @luckyduck sorry for the late reply. This looks like our automatic credit card type detection got switched off somehow.
![grafik](https://user-images.githubusercontent.com/40197225/95175212-7188c680-07bb-11eb-98bc-1312ffb105a4.png)
could you try switching it on in the PAYONE credit card configuration? Please re-compile the theme after switching the option to on.

[2020-10-06 08:14] luckyduck commented on #390
Hi. It is in fact off. But if I turn it on, it is still only visible after I enter a Credit Card Number and I am not able to choose between cards manually. It still doesnt show the logo without having selected "Kreditkarte" (as shown in the screenshot before)

[2020-11-19 15:42] hreinberger commented on #390
Sorry for the late reply, I seem to have missed the notification.
I also think I finally got your actual issue. I've setup two shops for reproduction. One with Version 4.2.0 and one with 4.4.0 and I found the same behavior:
In 4.2.0, html in the additional description of the payone visa payment method showed up, even when the payment method wasn't expanded:
![grafik](https://user-images.githubuser

[2020-11-20 04:52] luckyduck commented on #390
Thank you so much! In the meantime I applied a hotfix. It happened due to some call of .hide(). Just not 100% sure which one.

[2021-05-11 15:19] andydandy80 opened #421 "Exception during payment in Shopware 5.6 and Payone 4.4"
Shopware: 5.6.9, Payone 4.4.0

We got an exception during payment by credit card. What could be the problem?
Our webserver is within an Proxy/Load Balancer Setup.

`moptPayone.ERROR: error processing request ["
#0 /var/www/html/xxx/engine/Shopware/Plugins/Community/Frontend/MoptPaymentPayone/Components/Payone/TransactionStatus/Service/HandleRequest.php(118): Payone_TransactionStatus_Validator_Ip->

[2021-05-12 07:25] hreinberger commented on #421
Hi @andydandy80

this seems to occur due to your specific load balancing setup. You could validate this by adding your load balancer's IP here: https://github.com/PAYONE-GmbH/shopware-5/blob/654c0de753c80001e1efc0ac4641d9b37cd6d9a1/Frontend/MoptPaymentPayone/Components/Classes/PayoneConfig.php#L19

We also look out for specific forwarding headers like x-forwarded-for and the cloudflare variant of

[2021-05-12 10:20] andydandy80 commented on #421
Problem solved by entering this values in Shopware config.php:
`
...
'trustedProxies' => [
    'REMOTE_ADDR',
    '192.168.xx.xx', // our load balancer ip
    '127.0.0.1',
    '*'
],
...
`

[2021-05-12 10:20] #421 closed

[2021-07-12 10:05] DirkPersky opened #424 "Shopware 5.7"
For Shopware 5.7

u need to lowercase the DIJ

from:
[code]

too:
[code]

[2021-07-12 10:07] hreinberger commented on #424
@jvarelmann could you have a look?

[2021-07-12 10:53] jvarelmann commented on #424
Hello,

can you tell where the typo should be changed and what kind of error it produce ?

LG Juergen

[2021-07-12 12:44] jvarelmann commented on #424
Hello, at the moment we don´t have an offical Relese for SW 5.7 , in the new release the the error with the function is fixed

regards Juergen

[2021-07-14 10:47] OfflineVibe commented on #424
You can find it over at
https://github.com/PAYONE-GmbH/shopware-5/blob/master/Frontend/MoptPaymentPayone/Bootstrap.php
Line 67

When trying to upgrade Shopware to 5.7.2 with Payone Installed, the Shop won't work at all, Frontend and Backend can't be reached/blank screens. I had to install a backup. The error I received by PHP looked like this:
`PHP Fatal error: Uncaught Symfony\\Component\\Depende

[2021-07-15 11:43] jvarelmann commented on #424
Hello , we just released a beta version , where the  Symfony error is fixed

[2021-08-09 14:30] #390 closed

[2021-08-09 14:30] #378 closed

[2021-08-09 14:31] #360 closed

[2021-08-09 14:31] #229 closed

[2021-08-09 14:31] #221 closed

[2021-08-09 14:32] hreinberger commented on #219
Sollte das Thema noch aktuell sein gerne reopen.

[2021-08-09 14:32] #219 closed

[2021-08-09 14:32] #154 closed

[2021-08-09 14:33] #152 closed

[2021-08-09 14:33] #40 closed

[2021-08-09 14:34] hreinberger commented on #40
Milestone reached yay! 🎉

[2021-08-09 14:39] hreinberger commented on #37
I'm guessing this can be safely closed?

[2021-08-09 14:39] #37 closed

[2021-08-12 09:57] hreinberger commented on #424
Hi all, we've just tagged Version 4.5.0 which has been tested with Shopware 5.7.2. We've also released this version in the Shopware Store!

[2021-08-12 09:57] #424 closed

[2021-09-14 11:34] ihgalis opened #427 "usage of eval"
hello there, I found out that you are using the eval() methode here to read and parse a config file, which is actually a PHP file. from my point of view it is pretty dangerous way, since an attacker, if he/she managed to get access to the config file, could inject malicious code.

I would suggest to replace this with a JSON config file, sanitize the input coming from it, and creating the array obj

[2022-01-10 11:08] M-arcus opened #444 "Support for PAYONE Link"
From https://docs.payone.com/display/public/PLATFORM/Channel+PAYONE+Link

API that needs to be supplied with data: https://docs.payone.com/display/public/PLATFORM/PAYONE+Link+-+API

API that needs to be implemented on the Shopware 5 side: https://docs.payone.com/display/public/PLATFORM/PAYONE+Link+Notification+API

[2022-01-11 15:18] hreinberger commented on #444
Hi @M-arcus
I agree, PAYONE Link is an exciting product! I'd love to learn more about your specific use case here. For the PAYONE link to work we'd need a way to create orders without using the checkout frontend. Do you use the backend orders premium plugin https://store.shopware.com/swag860272615705f/backend-bestellungen.html or have another (headless?) use case in mind?

If you'd like to get in

[2022-01-11 15:26] M-arcus opened #445 "Support for Customer Management API calls"
SA - Customer management (updateuser):
https://docs.payone.com/pages/releaseview.action?pageId=1213913

SA - Customer management (getuser):
https://docs.payone.com/pages/releaseview.action?pageId=1213926

[2022-02-04 08:29] jvarelmann commented on #445
Hello Marcus,

do you have any questions about our API ?

regards Juergen

[2022-02-04 09:18] M-arcus commented on #445
Hello Juergen,

In some cases, the customer executes a payment, changes his data, then executes another payment (sometimes those get executed automatically). This can lead to cases where a user has different data in Shopware 5 and PayONE. This can be confusing for the customer, since mails get both sent from Shopware 5 and PayONE with different addresses.

Regards Marcus

[2022-02-04 11:52] jvarelmann commented on #445
Hello Marcus,

all booking related Informations should be provided via Api to us during the checkout. This informations should be same in our system and in the shopware backend.

the two API you mentioned are only used by recurring payments not for normal bookings

regards Juergen

[2022-02-04 12:36] M-arcus commented on #445
Hello Juergen,

correct, there are recurring payments being used in the Shopware 5 Shop.

Regards Marcus

[2022-02-04 13:05] jvarelmann commented on #445
Hello Marcus,

this plugin is not really build for recurring payment and only slidly compatible with abocommerce. So it depence in witch way the recurring payment was created and where the plan is hosted. if it is hostet in our system you can use the mentioned API. If the plan is hosted in the shopware shop you provides us with all information from your system and there is no differences between t

[2022-02-21 07:53] #445 closed

[2022-04-05 10:00] wrongspot opened #453 "Fatal Error MoptShopNotification"
with PHP 8 and Plugin Version 4.6.3 we notice these fatal error on Notification Action

[code]
I took a closer look. this error does not always occur, only when the shopping cart is transferred. At this Point https://github.com/PAYONE-GmbH/shopware-5/blob/master/Frontend/MoptPaymentPayone/Controllers/Frontend/MoptShopNotification.php#L87 Post Array looks like this:
[code]
This is a this is a one-d

[2022-05-10 13:35] mwillner opened #458 "Klarna Error in Shipping/Payment"
Sometimes `me.data` is undefined in:

https://github.com/PAYONE-GmbH/shopware-5/blob/6bf250393c76b0cd0d1003fe5258397a74e36ecd/Frontend/MoptPaymentPayone/Views/frontend/_resources/javascript/mopt_klarna_shipping_payment.js#L62

In this case, a js error will by thrown and some functions in the checkout do not work as intended.
E.g. getting "Invalid token"-Errors when proceeding, after changing the p

[2022-05-11 09:40] jvarelmann commented on #458
Hello,

we haven heard about this error what is the behavoir when this error occours?
can you descripe the error in a bit more detail. so that we can test it Please.

regards Juergen

[2022-07-15 12:15] M-arcus opened #462 "Payment method PayPal does not get shown on account payment page"
Plugin Version 4.7.0

Payment method PayPal is no longer visible under “/account/payment” after updating to 4.7.0.
It's still visible and selectable during checkout.

[2022-07-15 12:59] jvarelmann commented on #462
Hello Marcus,

looks like there is something gone wron during the installation, try to deinstall the plugin and reinstall it

regrads Juergen

[2022-07-15 13:02] M-arcus commented on #462
Downgrading the plugin to the previous version solves the issue.
Are there checks that were added to PayPal in the new version?

[2022-07-20 14:38] M-arcus commented on #462
PayPal disappears after commit occurs after the commit c615a06592993a3f21a5f2a074b70cc95b2cb7eb (a merge commit, because pull request https://github.com/PAYONE-GmbH/shopware-5/pull/440 was accepted there).
PayPal gets included in the array of payment methods that don't get shown in the account page.

Please include an option to configure this.
Some customers are confused on why certain payment met

[2022-07-27 11:55] hreinberger commented on #462
Hi @M-arcus I've just tested and merged your PR #463 thx!

[2022-07-27 11:55] #462 closed

[2022-07-27 11:58] hreinberger commented on #462
PS: a little background. The PAYMENTS_EXCLUDED_FROM_ACCOUNTPAGE array exists to filter out express and installment payment methods from the favorite payment methods page. The UX flow for these payment methods only works when there's already a filled shopping cart to invoke the express checkout or installment calculation.